<div id="demande_typeDePrestation">
    <input type="radio" id="demande_typeDePrestation_0" name="demande[typeDePrestation]" required="required"
           value="Estimation">
    <label for="demande_typeDePrestation_0" class="required">Estimation</label>

    <input type="radio" id="demande_typeDePrestation_1" name="demande[typeDePrestation]" required="required"
           value="Pre-etude">
    <label for="demande_typeDePrestation_1" class="required">Pré-étude</label>

    <input type="radio" id="demande_typeDePrestation_2" name="demande[typeDePrestation]" required="required"
           value="Execution">
    <label for="demande_typeDePrestation_2" class="required">Exécution</label>

    <input type="text" id="demande_typeDePrestation_autre" name="demande[typeDePrestation]" required="required">
    <label for="demande_typeDePrestation_autre" class="required">Autre</label>
</div>