<div class="row mt-2 form-container" id="facade">

    <h6 class="text-center">Type de préstation</h6>
    <div id="demande_typeDePrestation">
        <input type="radio" id="demande_typeDePrestation_0" name="demande[typeDePrestation]"
               required="required"
               value="Estimation" class="required">
        <label for="demande_typeDePrestation_0" class="required">Estimation</label>

        <input type="radio" id="demande_typeDePrestation_1" name="demande[typeDePrestation]"
               required="required" class="required"
               value="Pre-etude">
        <label for="demande_typeDePrestation_1" class="required">Pré-étude</label>

        <input type="radio" id="demande_typeDePrestation_2" name="demande[typeDePrestation]"
               required="required" class="required"
               value="Execution">
        <label for="demande_typeDePrestation_2" class="required">Exécution</label>
    </div>
    <div class="col-md-12">

        <h6>Documents souhaites</h6>
        <div id="demande_documentsSouhaites" class="row">
            <div class="col-md-auto">
                <input type="checkbox" id="demande_documentsSouhaites_0" name="demande[documentsSouhaites]"
                       checked
                       required="required" value="Plan">
                <label for="demande_documentsSouhaites_0" class="required">PLAN</label>
            </div>
            <div class="col-md-auto">
                <input type="checkbox" id="demande_documentsSouhaites_1" name="demande[documentsSouhaites]"
                       required="required" value="NDC">
                <label for="demande_documentsSouhaites_1" class="required">NDC</label>
            </div>
            <div class="col-md-auto">
                <input type="checkbox" id="demande_documentsSouhaites_2" name="demande[documentsSouhaites]"
                       required="required" value="Autre">
                <label for="demande_documentsSouhaites_2" class="required">Autre</label>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div>
            <h6>Fonds de plan</h6>
            <div id="demande_fondsDePlan">
                <input type="radio" id="demande_fondsDePlan_0" name="demande[fondsDePlan]"
                       required="required" value="1">
                <label for="demande_fondsDePlan_0" class="required">Oui</label>
                <input type="radio" id="demande_fondsDePlan_1" name="demande[fondsDePlan]"
                       required="required" value="0">
                <label for="demande_fondsDePlan_1" class="required">Non</label></div>
        </div>
    </div>
    <hr style="color: #0d4377; padding: 2px 0; margin: 10px 0;">

    <div class="col-md-12">
        <h6>Travaux prevus</h6>
        <div id="demande_travauxPrevus">
            <input type="checkbox" id="demande_travauxPrevus_0" name="demande[travauxPrevus][]"
                   value="Peinture/Ravalement">
            <label for="demande_travauxPrevus_0">Peinture / Ravalement</label>

            <input type="checkbox" id="demande_travauxPrevus_1" name="demande[travauxPrevus][]"
                   value="Bardage/Isolation">
            <label for="demande_travauxPrevus_1">Bardage / Isolation</label>

            <input type="checkbox" id="demande_travauxPrevus_2" name="demande[travauxPrevus][]"
                   value="Maçonnerie/Pierre">
            <label for="demande_travauxPrevus_2">Maçonnerie / Pierre</label>

            <input type="checkbox" id="demande_travauxPrevus_3" name="demande[travauxPrevus][]"
                   value="Autre">
            <label for="demande_travauxPrevus_3">Autre</label>

        </div>
    </div>
    <hr style="color: #0d4377; padding: 2px 0; margin: 10px 0;">

    <div class="col-md-12">
        <h6>Classe d echaffaudage</h6>
        <div id="demande_classeDEchaffaudage">
            <input type="radio" id="demande_classeDEchaffaudage_0" name="demande[classeDEchaffaudage]"
                   required="required" value="Classe 1">
            <label for="demande_classeDEchaffaudage_0" class="required">Classe 1 (75daN/m² sur 1,5
                niv.)</label>

            <input type="radio" id="demande_classeDEchaffaudage_1" name="demande[classeDEchaffaudage]"
                   required="required" value="Classe 2">
            <label for="demande_classeDEchaffaudage_1" class="required">Classe 2 (150daN/m² sur 1,5
                niv.)</label>

            <input type="radio" id="demande_classeDEchaffaudage_2" name="demande[classeDEchaffaudage]"
                   required="required" value="Classe 3">
            <label for="demande_classeDEchaffaudage_2" class="required">Classe 3 (200daN/m² sur 1,5
                niv.)</label>

            <input type="radio" id="demande_classeDEchaffaudage_3" name="demande[classeDEchaffaudage]"
                   required="required" value="Classe 4">
            <label for="demande_classeDEchaffaudage_3" class="required">Classe 4 (300daN/m² sur 1,5
                niv.)</label>

            <input type="radio" id="demande_classeDEchaffaudage_4" name="demande[classeDEchaffaudage]"
                   required="required" value="Classe 5">
            <label for="demande_classeDEchaffaudage_4" class="required">Classe 5 (450daN/m² sur 1,5
                niv.)</label>

            <input type="radio" id="demande_classeDEchaffaudage_5" name="demande[classeDEchaffaudage]"
                   required="required" value="Classe 6">
            <label for="demande_classeDEchaffaudage_5" class="required">Classe 6 (600daN/m² sur 1,5
                niv.)</label>
        </div>
    </div>

    <hr style="color: #0d4377; padding: 2px 0; margin: 10px 0;">
    <div class="col-md-12">
        <div>
            <h6>Type de materiel</h6>
            <div id="demande_typeDeMateriel">
                <input type="radio" id="demande_typeDeMateriel_0" name="demande[typeDeMateriel]"
                       required="required" value="Universel">
                <label for="demande_typeDeMateriel_0" class="required">Universel</label>

                <input type="radio" id="demande_typeDeMateriel_1" name="demande[typeDeMateriel]"
                       required="required" value="Eurofacadacier">
                <label for="demande_typeDeMateriel_1" class="required">Eurofacadacier</label>

                <input type="radio" id="demande_typeDeMateriel_2" name="demande[typeDeMateriel]"
                       required="required" value="Autre">
                <label for="demande_typeDeMateriel_2" class="required">Autre</label>
            </div>
        </div>
    </div>

    <hr style="color: #0d4377; padding: 2px 0; margin: 10px 0;">
    <div class="row">
        <h6>Dimensions globales</h6>


        <div class="col-md-6">
            <label for="demande_dimensionsGlobales_longueur_totale" class="required">Longueur totale</label>
            <input type="text" id="demande_dimensionsGlobales_longueur_totale" class="form-control"
                   name="demande[dimensionsGlobales][longueurTotale]" required="required" placeholder="m env.">
        </div>
        <div class="col-md-6">

            <label for="demande_dimensionsGlobales_hauteur_totale" class="required">Hauteur Totale</label>
            <input type="text" id="demande_dimensionsGlobales_hauteur_totale" class="form-control"
                   name="demande[dimensionsGlobales][hauteurTotale]" required="required" placeholder="m env.">
        </div>
    </div>

    <hr style="color: #0d4377; padding: 2px 0; margin: 10px 0;">
    <div class="col-md-12">
        <h6>Ammarages</h6>
        <div id="demande_ammarages">
            <input type="checkbox" id="demande_ammarages_0" name="demande[ammarages]" required="required"
                   value="Ancrages simples">
            <label for="demande_ammarages_0" class="required">Ancrages simples</label>

            <input type="checkbox" id="demande_ammarages_1" name="demande[ammarages]" required="required"
                   value="Cravatages">
            <label for="demande_ammarages_1" class="required">Cravatages</label>

            <input type="checkbox" id="demande_ammarages_2" name="demande[ammarages]" required="required"
                   value="Verinage">
            <label for="demande_ammarages_2" class="required">Vérinage</label>

            <input type="checkbox" id="demande_ammarages_3" name="demande[ammarages]" required="required"
                   value="Lest">
            <label for="demande_ammarages_3" class="required">Lest</label>

            <input type="checkbox" id="demande_ammarages_4" name="demande[ammarages]" required="required"
                   value="Autre">
            <label for="demande_ammarages_4" class="required">Autre</label>
        </div>
    </div>

    <hr style="color: #0d4377; padding: 2px 0; margin: 10px 0;">
    <div class="col-md-12">
        <h6>Largeur de travail</h6>
        <div id="demande_largeur_de_travail">
            <input type="radio" id="demande_largeur_de_travail_0" name="demande[largeurDeTravail]" required="required"
                   value="0.4">
            <label for="demande_largeur_de_travail_0" class="required">0,7 m</label>
            <input type="radio" id="demande_largeur_de_travail_1" name="demande[largeurDeTravail]" required="required"
                   value="1">
            <label for="demande_largeur_de_travail_1" class="required">1 m</label>

            <input type="radio" id="demande_largeur_de_travail_2" name="demande[largeurDeTravail]" required="required"
                   value="Autre">
            <label for="demande_largeur_de_travail_2" class="required">Autre</label>
        </div>
    </div>


    <hr style="color: #0d4377; padding: 2px 0; margin: 10px 0;">
    <div class="col-md-12">
        <h6>Consoles</h6>
        <div id="demande_consoles">
            <input type="radio" id="demande_consoles_0" name="demande[consoles]" required="required" value="0.4">
            <label for="demande_consoles_0" class="required">0,4 m</label>

            <input type="radio" id="demande_consoles_1" name="demande[consoles]" required="required" value="0.7">
            <label for="demande_consoles_1" class="required">0,7 m</label>

            <input type="radio" id="demande_consoles_2" name="demande[consoles]" required="required" value="Autre">
            <label for="demande_consoles_2" class="required">Autre</label>
        </div>
    </div>


    <hr style="color: #0d4377; padding: 2px 0; margin: 10px 0;">
    <div class="col-md-12">
        <h6>Distance à la façade</h6>
        <div id="demande_distance_a_la_facade">
            <input type="radio" id="demande_distance_a_la_facade_0" name="demande[distanceALaFacade]"
                   required="required" value="0.2">
            <label for="demande_distance_a_la_facade_0" class="required">0,2 m</label>

            <input type="radio" id="demande_distance_a_la_facade_1" name="demande[distanceALaFacade]"
                   required="required" value="Autre">
            <label for="demande_distance_a_la_facade_1" class="required">Autre</label>
        </div>
    </div>

    <hr style="color: #0d4377; padding: 2px 0; margin: 10px 0;">
    <div class="col-md-12">
        <h6>Hauteur des planchers</h6>
        <div class="row" id="demande_hauteur_des_planchers">

            <div class="col-md-4">
                <label for="demande_hauteur_des_planchers_0" class="required ">Sous la corniche</label>
                <input type="text" id="demande_hauteur_des_planchers_0" class="form-control"
                       name="demande[hauteurDesPlanchers][MSousLaCorniche]" required="required"
                       placeholder="m sous la corniche">
            </div>
            <div class="col-md-4">
                <label for="demande_hauteur_des_planchers_1" class="required">Au dessus du sol</label>
                <input type="text" id="demande_hauteur_des_planchers_1" class="form-control"
                       name="demande[hauteurDesPlanchers]|[MAuDessusDuSol]" required="required"
                       placeholder="m au dessus du sol">
            </div>

            <div class="col-md-4">
                <label for="demande_hauteur_des_planchers_2" class="required">Autre</label>
                <input type="text" id="demande_hauteur_des_planchers_2" class="form-control"
                       name="demande[hauteurDesPlanchers]|[Autre]" required="required"
                       placeholder="Autre">
            </div>
        </div>
    </div>

    <hr style="color: #0d4377; padding: 2px 0; margin: 10px 0;">

    <div>
        <h6>Equipements</h6>
        <div id="demande_equipements">
            <input type="checkbox" id="demande_equipements_0" name="demande[equipements]" required="required"
                   value="GC MDS">
            <label for="demande_equipements_0" class="required">GC MDS</label>

            <input type="checkbox" id="demande_equipements_1" name="demande[equipements]" required="required"
                   value="Pare gravois">
            <label for="demande_equipements_1" class="required">Pare gravois</label>

            <input type="checkbox" id="demande_equipements_2" name="demande[equipements]" required="required"
                   value="GC avant">
            <label for="demande_equipements_2" class="required">GC avant</label>

            <input type="checkbox" id="demande_equipements_3" name="demande[equipements]" required="required"
                   value="Passage piéton">
            <label for="demande_equipements_3" class="required">Passage piéton</label>

            <input type="checkbox" id="demande_equipements_4" name="demande[equipements]" required="required"
                   value="Protection couvreur">
            <label for="demande_equipements_4" class="required">Protection couvreur</label>
        </div>
    </div>
    <hr style="color: #0d4377; padding: 2px 0; margin: 10px 0;">

    <div>
        <h6>Acces</h6>
        <div id="demande_acces">
            <input type="radio" id="demande_acces_0" name="demande[acces]" required="required" value="Planche à trappe">
            <label for="demande_acces_0" class="required">Planche à trappe</label>

            <input type="radio" id="demande_acces_1" name="demande[acces]" required="required"
                   value="Volée alu à palier incorporé">
            <label for="demande_acces_1" class="required">Vollée alu à palier incorporé</label>
        </div>
    </div>

    <hr style="color: #0d4377; padding: 2px 0; margin: 10px 0;">
    <div>
        <h6>Bâche et filet</h6>
        <div id="demande_bache_et_filet" class="row">
            <div class="col-md-6">
                <label for="demande_bache_et_filet_0" class="required">Bâche</label>
                <input type="text" id="demande_bache_et_filet_0" name="demande[bacheEtFilet][bache]" required="required"
                       class="form-control" placeholder=".....g/m²">

                <div class="col-md-12">
                    <input type="checkbox" id="demande_bache_0" name="demande[bache]" required="required"
                           value="Directement sur l'échafaudage">
                    <label for="demande_bache_0" class="required">Directement sur l'échafaudage</label>

                </div>
                <div class="col-md-12">

                    <input type="checkbox" id="demande_bache_1" name="demande[bache]" required="required"
                           value="Sur cadre">
                    <label for="demande_bache_1" class="required">Sur cadre</label>
                </div>
                <div class="col-md-12">

                    <input type="checkbox" id="demande_bache_2" name="demande[bache]" required="required"
                           value="Sur cadre">
                    <label for="demande_bache_1" class="required">Thémée</label>
                </div>
                <div class="col-md-12">

                    <input type="checkbox" id="demande_bache_3" name="demande[bache]" required="required"
                           value="Sur cadre">
                    <label for="demande_bache_1" class="required">M1</label>
                </div>

            </div>
            <div class="col-md-6">
                <label for="demande_bache_et_filet_1" class="required">Filet</label>
                <input type="text" id="demande_bache_et_filet_1" name="demande[bacheEtFilet][filet]" required="required"
                       class="form-control" placeholder=".....g/m²">

            </div>
        </div>
    </div>


    <div class="mt-5 text-center">
        <button class="btn btn-primary profile-button" type="submit">Enregistrer</button>
    </div>

</div>