<div class="row mt-2 form-container" id="parapluie">

    <h6 class="text-center">Type de préstation</h6>
    <div id="demande_typeDePrestation">
        <input type="radio" id="demande_typeDePrestation_0" name="demande[typeDePrestation]"
               required="required"
               value="Estimation" class="required">
        <label for="demande_typeDePrestation_0" class="required">Estimation</label>

        <input type="radio" id="demande_typeDePrestation_1" name="demande[typeDePrestation]"
               required="required"
               value="Pre-etude" class="required">
        <label for="demande_typeDePrestation_1" class="required">Pré-étude</label>

        <input type="radio" id="demande_typeDePrestation_2" name="demande[typeDePrestation]"
               required="required"
               value="Execution" class="required">
        <label for="demande_typeDePrestation_2" class="required">Exécution</label>
    </div>
    <div class="col-md-12">

        <h6>Documents souhaites</h6>
        <div id="demande_documentsSouhaites" class="row">
            <div class="col-md-auto">
                <input type="checkbox" id="demande_documentsSouhaites_0" name="demande[documentsSouhaites]"
                       checked
                       required="required" value="Plan">
                <label for="demande_documentsSouhaites_0" class="required">PLAN</label>
            </div>
            <div class="col-md-auto">
                <input type="checkbox" id="demande_documentsSouhaites_1" name="demande[documentsSouhaites]"
                       required="required" value="NDC">
                <label for="demande_documentsSouhaites_1" class="required">NDC</label>
            </div>
            <div class="col-md-auto">
                <input type="checkbox" id="demande_documentsSouhaites_2" name="demande[documentsSouhaites]"
                       required="required" value="Autre">
                <label for="demande_documentsSouhaites_2" class="required">Autre</label>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div>
            <h6>Fonds de plan</h6>
            <div id="demande_fondsDePlan">
                <input type="radio" id="demande_fondsDePlan_0" name="demande[fondsDePlan]"
                       required="required" value="1">
                <label for="demande_fondsDePlan_0" class="required">Oui</label>
                <input type="radio" id="demande_fondsDePlan_1" name="demande[fondsDePlan]"
                       required="required" value="0">
                <label for="demande_fondsDePlan_1" class="required">Non</label></div>
        </div>
    </div>
    <hr style="color: #0d4377; padding: 2px 0; margin: 10px 0;">

    <div class="col-md-12">
        <div>
            <h6>Type de materiel</h6>
            <div id="demande_typeDeMateriel">
                <input type="radio" id="demande_typeDeMateriel_0" name="demande[typeDeMateriel]"
                       required="required" value="Couvralu">
                <label for="demande_typeDeMateriel_0" class="required">Couvralu</label>

                <input type="radio" id="demande_typeDeMateriel_1" name="demande[typeDeMateriel]"
                       required="required" value="Couvralu XL">
                <label for="demande_typeDeMateriel_1" class="required">Couvralu XL</label>

                <input type="radio" id="demande_typeDeMateriel_2" name="demande[typeDeMateriel]"
                       required="required" value="Fixe">
                <label for="demande_typeDeMateriel_2" class="required">Fixe</label>

                <input type="radio" id="demande_typeDeMateriel_3" name="demande[typeDeMateriel]"
                       required="required" value="Roulant">
                <label for="demande_typeDeMateriel_3" class="required">Roulant</label>

                <input type="radio" id="demande_typeDeMateriel_4" name="demande[typeDeMateriel]"
                       required="required" value="Autre">
                <label for="demande_typeDeMateriel_4" class="required">Autre</label>
            </div>
        </div>
    </div>

    <hr style="color: #0d4377; padding: 2px 0; margin: 10px 0;">
    <div class="col-md-12">
        <h6>Portée libre</h6>
        <div id="demande_porteeLibre">
            <label for="demande_porteeLibre" class="required">Portée libre (en m env.)</label>
            <input type="text" id="demande_porteeLibre" class="form-control"
                   name="demande[porteeLibre]" required="required">
        </div>
    </div>

    <hr style="color: #0d4377; padding: 2px 0; margin: 10px 0;">
    <div class="col-md-12">
        <h6>Longueur</h6>
        <div id="demande_longueur">
            <input type="text" id="demande_longueur" name="demande[longueur]" required="required"
                   class="form-control">
            <label for="demande_longueur" class="required">Longueur (en m env.)</label>
        </div>
    </div>

    <hr style="color: #0d4377; padding: 2px 0; margin: 10px 0;">
    <div class="col-md-12">
        <h6>Hauteur</h6>
        <div class="row" id="demande_hauteur_des_planchers">

            <div class="col-md-4">
                <label for="demande_hauteur_0" class="required ">Hauteur libre par rapport au faîtage</label>
                <input type="text" id="demande_hauteur_0" class="form-control"
                       name="demande[hauteur][Faîtage]" required="required"
                       placeholder="en m">
            </div>
            <div class="col-md-4">
                <label for="demande_hauteur_1" class="required">Hauteur totale depuis le sol</label>
                <input type="text" id="demande_hauteur_1" class="form-control"
                       name="demande[hauteur]|[Sol]" required="required"
                       placeholder="en m">
            </div>

            <div class="col-md-4">
                <label for="demande_hauteur_2" class="required">Autre</label>
                <input type="text" id="demande_hauteur_2" class="form-control"
                       name="demande[hauteur]|[Autre]" required="required"
                       placeholder="Autre">
            </div>
        </div>
    </div>

    <hr style="color: #0d4377; padding: 2px 0; margin: 10px 0;">
    <div class="col-md-12">
        <h6>Ammarages</h6>
        <div id="demande_ammarages">
            <input type="checkbox" id="demande_ammarages_0" name="demande[ammarages]" required="required"
                   value="Ancrages simples">
            <label for="demande_ammarages_0" class="required">Ancrages simples</label>

            <input type="checkbox" id="demande_ammarages_1" name="demande[ammarages]" required="required"
                   value="Cravatages">
            <label for="demande_ammarages_1" class="required">Cravatages</label>

            <input type="checkbox" id="demande_ammarages_2" name="demande[ammarages]" required="required"
                   value="Lest">
            <label for="demande_ammarages_2" class="required">Lest</label>

            <input type="checkbox" id="demande_ammarages_3" name="demande[ammarages]" required="required"
                   value="Autre">
            <label for="demande_ammarages_3" class="required">Autre</label>
        </div>
    </div>

    <hr style="color: #0d4377; padding: 2px 0; margin: 10px 0;">
    <div class="col-md-12">
        <h6>Traitement des pignons</h6>
        <div id="demande_traitementDesPignons">
            <input type="radio" id="demande_traitementDesPignons" name="demande[traitementDesPignons]" required="required"
                   value="Echafaudage">
            <label for="demande_traitementDesPignons" class="required">Structure en échafaudage</label>

            <input type="radio" id="demande_largeurDeTravail_1" name="demande[traitementDesPignons]" required="required"
                   value="Hors fourniture">
            <label for="demande_largeurDeTravail_1" class="required">Autre système hors fourniture (hors étude)</label>

            <input type="radio" id="demande_largeurDeTravail_2" name="demande[traitementDesPignons]" required="required"
                   value="Bache">
            <label for="demande_largeurDeTravail_2" class="required">Bâche</label>
        </div>
    </div>

    <div class="mt-5 text-center">
        <button class="btn btn-primary profile-button" type="submit">Enregistrer</button>
    </div>

</div>