<div class="row mt-2 form-container" id="particulier">

    <h6 class="text-center">Général</h6>
    <div class="row mt-3">
        <div class="col-md-3 text-end labels">
            Type de préstation :
        </div>
        <div class="col-md-9">
            <div id="demande_typeDePrestation" class="row">
                <div class="col-md-4">
                    <input type="radio" id="demande_typeDePrestation_0" name="demande[typeDePrestation]"
                           required="required"
                           value="Estimation" class="required">
                    <label for="demande_typeDePrestation_0" class="required">Estimation</label>
                </div>

                <div class="col-md-4">
                    <input type="radio" id="demande_typeDePrestation_1" name="demande[typeDePrestation]"
                           required="required" class="required"
                           value="Pre-etude">
                    <label for="demande_typeDePrestation_1" class="required">Pré-étude</label>
                </div>

                <div class="col-md-4">
                    <input type="radio" id="demande_typeDePrestation_2" name="demande[typeDePrestation]"
                           required="required" class="required"
                           value="Execution">
                    <label for="demande_typeDePrestation_2" class="required">Exécution</label>
                </div>
            </div>
        </div>
    </div>


    <div class="row mt-3">
        <div class="col-md-3 text-end labels">
            Documents souhaités :
        </div>
        <div class="col-md-9">

            <div id="demande_documentsSouhaites" class="row">
                <div class="col-md-4">
                    <input type="checkbox" id="demande_documentsSouhaites_0" name="demande[documentsSouhaites][]"
                           checked
                           value="Plan">
                    <label for="demande_documentsSouhaites_0" class="required">PLAN</label>
                </div>
                <div class="col-md-4">
                    <input type="checkbox" id="demande_documentsSouhaites_1" name="demande[documentsSouhaites][]"
                           value="NDC">
                    <label for="demande_documentsSouhaites_1" class="required">NDC</label>
                </div>
                <div class="col-md-4">
                    <input type="checkbox" id="demande_documentsSouhaites_2" name="demande[documentsSouhaites][]"
                           value="Autre">
                    <label for="demande_documentsSouhaites_2" class="required">Autre</label>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-3 text-end labels">
            Fonds de plan :
        </div>
        <div class="col-md-9">
            <div id="demande_fondsDePlan" class="row">
                <div class="col-md-4">

                    <input type="radio" id="demande_fondsDePlan_0" name="demande[fondsDePlan]"
                           required="required" value="1">
                    <label for="demande_fondsDePlan_0" class="required">Oui</label>
                </div>
                <div class="col-md-4">
                    <input type="radio" id="demande_fondsDePlan_1" name="demande[fondsDePlan]"
                           required="required" value="0">
                    <label for="demande_fondsDePlan_1" class="required">Non</label>
                </div>
            </div>
        </div>
    </div>

    <hr style="color: #0d4377; padding: 2px 0; margin: 10px 0;">

    <h6 class="text-center">Spécifique</h6>

    <div class="row mt-3">
        <div class="col-md-3 text-end labels">
            Classe d echaffaudage :
        </div>
        <div class="col-md-9">
            <div id="demande_classeDEchaffaudage" class="row">
                <div class="col-md-4">
                    <input type="radio" id="demande_classeDEchaffaudage_0" name="demande[classeDEchaffaudage]"
                           required="required" value="Classe 1 (75daN/m² sur 1,5 niv.)">
                    <label for="demande_classeDEchaffaudage_0" class="required">Classe 1 (75daN/m² sur 1,5 niv.)</label>
                </div>
                <div class="col-md-4">
                    <input type="radio" id="demande_classeDEchaffaudage_1" name="demande[classeDEchaffaudage]"
                           required="required" value="Classe 2 (150daN/m² sur 1,5 niv.)">
                    <label for="demande_classeDEchaffaudage_1" class="required">Classe 2 (150daN/m² sur 1,5
                        niv.)</label>
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">

                    <input type="radio" id="demande_classeDEchaffaudage_2" name="demande[classeDEchaffaudage]"
                           required="required" value="Classe 3 (200daN/m² sur 1,5 niv.)">
                    <label for="demande_classeDEchaffaudage_2" class="required">Classe 3 (200daN/m² sur 1,5
                        niv.)</label>
                </div>

                <div class="col-md-4">

                    <input type="radio" id="demande_classeDEchaffaudage_3" name="demande[classeDEchaffaudage]"
                           required="required" value="Classe 4 (300daN/m² sur 1,5 niv.)">
                    <label for="demande_classeDEchaffaudage_3" class="required">Classe 4 (300daN/m² sur 1,5
                        niv.)</label>

                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">

                    <input type="radio" id="demande_classeDEchaffaudage_4" name="demande[classeDEchaffaudage]"
                           required="required" value="Classe 5 (450daN/m² sur 1,5 niv.)">
                    <label for="demande_classeDEchaffaudage_4" class="required">Classe 5 (450daN/m² sur 1,5
                        niv.)</label>

                </div>
                <div class="col-md-4">

                    <input type="radio" id="demande_classeDEchaffaudage_5" name="demande[classeDEchaffaudage]"
                           required="required" value="Classe 6 (600daN/m² sur 1,5 niv.)">
                    <label for="demande_classeDEchaffaudage_5" class="required">Classe 6 (600daN/m² sur 1,5
                        niv.)</label>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-3 text-end labels">
            Dimensions globales :
        </div>
        <div class="col-md-9 row">

            <div class="col-md-4">
                <label for="demande_dimensionsGlobales_longueur_totale" class="required">Longueur totale en m</label>
                <input type="text" id="demande_dimensionsGlobales_longueur_totale" class="form-control"
                       name="demande[dimensionsGlobales][longueurTotale]" required="required" placeholder="m env.">
            </div>
            <div class="col-md-4">

                <label for="demande_dimensionsGlobales_largeur_totale" class="required">Largeur Totale en m</label>
                <input type="text" id="demande_dimensionsGlobales_largeur_totale" class="form-control"
                       name="demande[dimensionsGlobales][largeurTotale]" required="required" placeholder="m env.">
            </div>
            <div class="col-md-4">

                <label for="demande_dimensionsGlobales_hauteur_totale" class="required">Hauteur Totale en m</label>
                <input type="text" id="demande_dimensionsGlobales_hauteur_totale" class="form-control"
                       name="demande[dimensionsGlobales][hauteurTotale]" required="required" placeholder="m env.">
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-3 text-end labels">
            Ammarages :
        </div>
        <div class="col-md-9">
            <div id="demande_ammarages" class="row">
                <div class="col-md-4">

                    <input type="checkbox" id="demande_ammarages_0" name="demande[ammarages][]"
                           value="Ancrages simples">
                    <label for="demande_ammarages_0" class="required">Ancrages simples</label>
                </div>
                <div class="col-md-4">

                    <input type="checkbox" id="demande_ammarages_1" name="demande[ammarages][]"
                           value="Cravatages">
                    <label for="demande_ammarages_1" class="required">Cravatages</label>
                </div>
                <div class="col-md-4">

                    <input type="checkbox" id="demande_ammarages_2" name="demande[ammarages][]"
                           value="Butonnages">
                    <label for="demande_ammarages_2" class="required">Butonnages</label>
                </div>
                <div class="col-md-4">

                    <input type="checkbox" id="demande_ammarages_3" name="demande[ammarages][]"
                           value="Lest">
                    <label for="demande_ammarages_3" class="required">Lest</label>
                </div>
                <div class="col-md-4">

                    <input type="checkbox" id="demande_ammarages_4" name="demande[ammarages][]"
                           value="Autre">
                    <label for="demande_ammarages_4" class="required">Autre</label>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-3 text-end labels">
            Acces :
        </div>
        <div class="col-md-9">
            <div id="demande_acces" class="row">
                <div class="col-md-4">

                    <input type="radio" id="demande_acces_0" name="demande[acces]" required="required"
                           value="Planche à trappe">
                    <label for="demande_acces_0" class="required">Planche à trappe</label>
                </div>

                <div class="col-md-4">

                    <input type="radio" id="demande_acces_1" name="demande[acces]" required="required"
                           value="Volée alu à palier incorporé">
                    <label for="demande_acces_1" class="required">Vollée alu à palier incorporé</label>
                </div>
                <div class="col-md-4">

                    <input type="radio" id="demande_acces_2" name="demande[acces]" required="required"
                           value="Autre">
                    <label for="demande_acces_2" class="required">Autre</label>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5 text-center">
        <button class="btn btn-primary profile-button" type="submit">Enregistrer</button>
    </div>

</div>
