{% extends 'base.html.twig' %}

{% block title %}
	Bon layher
{% endblock %}


{% block body %}
	<style>
		.form {
			margin-left: 15%;
			width: 70%;
		}
		.poids_to {
			border: 2px solid #3498db; /* Border style and color */
			border-radius: 5px; /* Border radius for rounded corners */
			padding: 10px; /* Padding for some space inside the div */
			margin: 10px; /* Margin to create space around the div */
			display: inline-block; /* Keep the div inline */
		}

		/* Style for the span inside the div */
		.poids_to span {
			font-weight: bold; /* Make the text bold */
			color: #2c3e50; /* Text color */
		}
	</style>
	<div class="row form">
		<div class="col-md-4">
			<div class="form-group">
				<label for="NumAffaire" class="font-weight-bold">Num Affaire</label>
				<select id="NumAffaire" name="NumAffaire" class="form-control form-control-sm-2 societe-input required">
					{% for affaire in affaires %}
						<option value="{{affaire.id}}" {% if affaire.numaffaire == '10017WX' %} selected {% endif %}>{{affaire.numaffaire}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="form-group">
				<label for="NomClient" class="font-weight-bold">Nom</label>
				<input type="text" id="NomClient" name="NomClient" class="form-control form-control-sm-2 societe-input required" value="J4R Echafaudages/CH. GROUPE {{ 'now'|date('Y') }} ">
			</div>
			<!-- Add similar blocks for other fields in the first column -->
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label for="DateDu" class="font-weight-bold">DU</label>
				<input type="date" id="DateDu" name="DateDu" class="form-control form-control-sm-2 societe-input required" value="">
			</div>

			<div class="form-group">
				<label for="DetailChantier" class="font-weight-bold">Detail</label>
				<input type="text" id="DetailChantier" name="DetailChantier" class="form-control form-control-sm-2 societe-input required" value="CHANTIERS GROUPE {{ 'now'|date('Y') }}">
			</div>
			<!-- Add similar blocks for other fields in the second column -->
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label for="DateAu" class="font-weight-bold">Au</label>
				<input type="date" id="DateAu" name="DateAu" class="form-control form-control-sm-2 societe-input required" value="">
			</div>
			<div class="form-group">
				<label for="NumBon" class="font-weight-bold">Num Bon</label>
				<select id="bonlayher" name="bonlayher" class="form-control form-control-sm-2 societe-input required">
					<option value=""></option>
					<!-- Add options dynamically if needed -->
				</select>
			</div>
			<!-- Add similar blocks for other fields in the third column -->
		</div>
	</div>
	<div
		class="page-block form col-lg-12">
		{# do something #}

		<div class="poids_to">
			Poids Total :
			<span id="poids_total">0.0</span>
		</div>


		<table class="table text-center datatable" id="ArticleBonTable" style="color: #0E4377;">
			<thead>
				<tr class="tr-head">
					<th>Code Article</th>
					<th>Designation</th>
					<th>Qte</th>
					<th>Poids Unitaire</th>
					<th>Poids</th>

				</tr>
			</thead>
			<tbody></tbody>
		</tbody>
	</table>
</div>

<div class="col-md-8 m-auto page-block mt-4">
	<div class="societe">
		<div style="text-align: center; margin-top: 20px;">
			<button style="padding: 10px 20px; font-size: 16px; background-color: #4CAF50; color: white; border: none; border-radius: 5px; cursor: pointer;" onclick="pdfDowlound()">
				Download PDF
			</button>
		</div>
		<div class="row">
			<div class="col-md-12 row mt-3"></div>
			<div class="col-md-4">
				<div class="form-group">
					<label for="Consignes" class="font-weight-bold">Consignes</label>
					<input type="text" id="Consignes" name="Consignes" class="form-control form-control-sm-2 societe-input required form-control form-control-sm-2 societe-input required-sm-2 societe-input required" value="Champs Vide">
				</div>
				<div class="form-group">
					<label for="HeurePense1" class="font-weight-bold">Heure Pesée 1</label>
					<input type="text" id="HeurePense1" name="HeurePense1" class="form-control form-control-sm-2 societe-input required" value="09:30">
				</div>
				<div class="form-group">
					<label for="HeurePense2" class="font-weight-bold">Heure Pesée 2</label>
					<input type="text" id="HeurePense2" name="HeurePense2" class="form-control form-control-sm-2 societe-input required" value="09:30">
				</div>
				<div class="form-group">
					<label for="HeurePense2" class="font-weight-bold">Immatriculation</label>
					<input type="text" id="immatriculation" name="immatriculation" class="form-control form-control-sm-2 societe-input required" value="09:30">
				</div>
				<div class="form-group">
					<label for="HeurePense2" class="font-weight-bold">Chauffeur</label>
					<input type="text" id="chauffeur" name="chauffeur" class="form-control form-control-sm-2 societe-input required" value="09:30">
				</div>

				<!-- Add similar blocks for other fields in the first column -->
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label for="NTicket" class="font-weight-bold">N ticket</label>
					<input type="text" id="NTicket" name="NTicket" class="form-control form-control-sm-2 societe-input required" value="27478">
				</div>
				<div class="form-group">
					<label for="PoidsPense1" class="font-weight-bold">Poids Pesée 1</label>
					<input type="text" id="PoidsPense1" name="PoidsPense1" class="form-control form-control-sm-2 societe-input required" value="11600">
				</div>
				<div class="form-group">
					<label for="PoidsPense2" class="font-weight-bold">Poids Pesée 2</label>
					<input type="text" id="PoidsPense2" name="PoidsPense2" class="form-control form-control-sm-2 societe-input required" value="11600">
				</div>
				<div class="form-group">
					<label for="PoidsPense2" class="font-weight-bold">Transporteur</label>
					<input type="text" id="transporteur" name="transporteur" class="form-control form-control-sm-2 societe-input required" value="11600">
				</div>
				<div class="form-group">
					<label for="PoidsPense2" class="font-weight-bold">Poids mesuré</label>
					<input type="text" id="poids_mesure" name="poids_mesure" class="form-control form-control-sm-2 societe-input required" value="11600">
				</div>
				<!-- Add similar blocks for other fields in the second column -->
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label for="Arrive" class="font-weight-bold">Arrivé</label>
					<input type="text" id="Arrive" name="Arrive" class="form-control form-control-sm-2 societe-input required" value="09:29">
				</div>
				<div class="form-group">
					<label for="NBascule1" class="font-weight-bold">N bascule 1</label>
					<input type="text" id="NBascule1" name="NBascule1" class="form-control form-control-sm-2 societe-input required" value="47 963">
				</div>
				<div class="form-group">
					<label for="NBascule2" class="font-weight-bold">N bascule 2</label>
					<input type="text" id="NBascule2" name="NBascule2" class="form-control form-control-sm-2 societe-input required" value="47 963">
				</div>
				<!-- Add similar blocks for other fields in the third column -->
			</div>
		</div>
	</div>
</div>

<div class="row form"></div>

<script>
	document.getElementById('DateDu').addEventListener('change', function () {
var minDateDu = this.value;
document.getElementById('DateAu').min = minDateDu;
getBonLayher();
});
document.getElementById('DateAu').addEventListener('change', function () {
var minDateDu = this.value;
document.getElementById('DateDu').max = minDateDu;
getBonLayher();
});
function getCurrentDate() {
var today = new Date();
var dd = String(today.getDate()).padStart(2, '0');
var mm = String(today.getMonth() + 1).padStart(2, '0'); // January is 0!
var yyyy = today.getFullYear();
return yyyy + '-' + mm + '-' + dd;
}

// Set the initial value of DateDu and DateAu to the current date
document.getElementById('DateDu').value = getCurrentDate();
document.getElementById('DateAu').value = getCurrentDate();
function getBonLayher() {
vider();
let DateDu = document.getElementById('DateDu').value;
let DateAu = document.getElementById('DateAu').value;
let numaffaire = getContenuSelected();
$.ajax({
type: "GET",
url: "/get-bon-layher",
data: {
datedu: DateDu,
dateau: DateAu,
numaffaire: numaffaire
},
success: function (res) {
var data = res.bonLayher;
var select = $('#bonlayher');
select.empty();
console.log(data);

select.append("<option></option>")
$.each(data, function (index, bon) {
select.append('<option   value="' + bon.numbon + '">' + bon.numbon + "-" + bon.typebon + "-" + bon.datemvt + '</option>');
});
},
error: function (error) {
console.log(error);
}
});
}

$(document).ready(function () { // Attach the onchange event handler to the 'bonlayher' select element
$('#bonlayher').on('change', function () { // Retrieve the selected value
var selectedValue = $(this).val();

$.ajax({
type: "GET",
url: "/get-article-bon",
data: {
numBonlayher: selectedValue
},
success: function (res) {
document.getElementById("poids_total").innerHTML = res.poids.toFixed(2) +" Kg";
var data = res.article;
setDataTransport(res.layherTransport)
var ArticleBonTable;
if ($.fn.DataTable.isDataTable('#ArticleBonTable')) {
$('#ArticleBonTable').DataTable().destroy();
}

ArticleBonTable = $('#ArticleBonTable').DataTable({paging: true});
ArticleBonTable.clear().draw();
console.log(res);
// Populate the table with the new data
for (var i = 0; i < data.length; i++) {
var commande = data[i];
let poidsUnitaire = (commande.poids / commande.qte).toFixed(2);
var newRow = [
commande.codearticle,
commande.designation,
commande.qte,
poidsUnitaire,
commande.poids,
];
ArticleBonTable.row.add(newRow);
}

ArticleBonTable.draw();
},
error: function (error) {
console.log(error);
}
});

});
$('#NumAffaire').on('change', function () {
vider(); // Retrieve the selected value
var selectedValue = $(this).val();
getBonLayher();

$.ajax({
type: "GET",
url: "/affaire-information",
data: {
numaffaire: selectedValue
},
success: function (res) {
document.getElementById("NomClient").value = res[0].nom
},
error: function (error) {
console.log(error);
}
});

});

});
function setDataTransport(transportBonLayher) {
document.getElementById('Consignes').value = transportBonLayher[0].consignes;
document.getElementById('HeurePense1').value = transportBonLayher[0].heurePesee1
document.getElementById('HeurePense2').value = transportBonLayher[0].heurePesee2

document.getElementById('NTicket').value = transportBonLayher[0].numTicket
document.getElementById('PoidsPense1').value = transportBonLayher[0].poidsPesee1
document.getElementById('PoidsPense2').value = transportBonLayher[0].poidsPesee2

document.getElementById('Arrive').value = transportBonLayher[0].arrivee
document.getElementById('NBascule1').value = transportBonLayher[0].basculePesee1
document.getElementById('NBascule2').value = transportBonLayher[0].basculePesee2


document.getElementById('transporteur').value = transportBonLayher[0].nomTransporteur
document.getElementById('poids_mesure').value = transportBonLayher[0].poidsMesure1
document.getElementById('chauffeur').value = transportBonLayher[0].nomChauffeur
document.getElementById('immatriculation').value = transportBonLayher[0].immatriculation

}

function getContenuSelected() {
var selectElement = document.getElementById("NumAffaire");

// Get the selected value
var selectedValue = selectElement.value;

// Get the selected text content
var selectedText = selectElement.options[selectElement.selectedIndex].text;
return selectedText;
}
function pdfDowlound() {
let NumAffaire = document.getElementById("NumAffaire");
var selectedIndexNumAffaire = NumAffaire.selectedIndex;
var selectedTextNumAffaire = NumAffaire.options[selectedIndexNumAffaire].text;

var selectElement = document.getElementById("bonlayher");
var selectedIndex = selectElement.selectedIndex;
var selectedText = selectElement.options[selectedIndex].text;
let splitResult = selectedText.split("-");
let code = splitResult[0];
let type = splitResult[1];
let date = splitResult[2];
console.log(date);
let cleanedDate = date.split("/");
cleanedDate = cleanedDate[2] + cleanedDate[1] + cleanedDate[0];


let chaine = selectedTextNumAffaire + "-" + type + "-" + cleanedDate + "-" + code;

var url = "/bon-layher?pdfrecherche=" + chaine;

// Open the URL in a new tab or window
window.open(url, '_blank');


}

function vider() {
var ArticleBonTable;
if ($.fn.DataTable.isDataTable('#ArticleBonTable')) {
$('#ArticleBonTable').DataTable().destroy();
}

ArticleBonTable = $('#ArticleBonTable').DataTable({paging: true});
ArticleBonTable.clear().draw();

// Set values for specific fields
document.getElementById('Consignes').value = "";
document.getElementById('HeurePense1').value = "";
document.getElementById('HeurePense2').value = "";
document.getElementById('NTicket').value = "";
document.getElementById('PoidsPense1').value = "";
document.getElementById('PoidsPense2').value = "";
document.getElementById('Arrive').value = "";
document.getElementById('NBascule1').value = "";
document.getElementById('NBascule2').value = "";
document.getElementById('transporteur').value = "";
document.getElementById('poids_mesure').value = "";
document.getElementById('chauffeur').value = "";
document.getElementById('immatriculation').value = "";
document.getElementById("poids_total").innerHTML = "0.0";

}
</script>{% endblock %}
