{% extends 'base.html.twig' %}

{% block title %}Edit ContactService{% endblock %}

{% block body %}
    <h1>Edit ContactService</h1>

    {{ include('contact/contact_service/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
