{% extends 'base.html.twig' %}

{% block title %}Edit Fonction{% endblock %}

{% block body %}
    <h1>Edit Fonction</h1>

    {{ include('contact/fonction/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_contact_fonction_index') }}">back to list</a>

    {{ include('contact/fonction/_delete_form.html.twig') }}
{% endblock %}
