<form name="delete" method="post" action="{{ path('app_interlocuteur_interlocuteur_delete', {'id': interlocuteur.id}) }}" onsubmit="return confirm('êtes vous sùr de vouloir supprimer cette fiche?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ interlocuteur.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
