{% extends 'base.html.twig' %}

{% block title %}New Interlocuteur{% endblock %}


{% block body %}
    <h1>Create new Interlocuteur</h1>

    {{ include('interlocuteur/interlocuteur/_form.html.twig') }}

    <a href="{{ path('app_interlocuteur_interlocuteur_index') }}">back to list</a>
{% endblock %}
