{% extends 'base.html.twig' %}

{% block title %}Edit Base de prix{% endblock %}

{% block body %}
    <h1>Edit Devis</h1>

    {{ include('affaire/bibliothequeDePrix/_form_base_prix.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
