<!-- Modal -->
<div class="modal fade modal-ouvrage" id="modal-import-ouvrage" tabindex="-1"
     aria-labelledby="modal-import-ouvrage-label" aria-hidden="true"
     style="color: #486178;">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 60%;">
        <div class="modal-content">
            <form onsubmit="return " name="modal-import-ouvrage">

                <div class="modal-header">
                    <h5 class="modal-title" id="modal-import-ouvrage-label">Ajout d'un ouvrage au sous-lot ou au
                        lot</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        Veuillez renseigner tous les champs afin de pouvoir créer votre ouvrage.
                    </p>
                    <div class="row my-5 justify-content-between">

                       <div class="col-md-6">
                           <input type="text" input="denomination" required="required"
                                  maxlength="30" class="chakra-input" placeholder="Dénomination">
                       </div>

                        <div class="col-md-2">
                            <input type="text" maxlength="255" class="chakra-input"
                                   placeholder="Valeur de référence" disabled>
                        </div>

                    </div>
                    <div class="row my-5">
                        <div class="col-md-3">
                            <select class="chakra-input" name="" id="" placeholder="Type d'ouvrage">
                                <option disabled selected> Veuillez selectionner un type d'ouvrage </option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select class="chakra-input" name="" id="" placeholder="Catégorie d'ouvrage">
                                <option disabled selected> Veuillez selectionner une catégorie d'ouvrage </option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select class="chakra-input" name="" id="" placeholder="Niveau">
                                <option disabled selected> Veuillez selectionner un niveau </option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select class="chakra-input" name="" id="" placeholder="Type d'échafaudage">
                                <option disabled selected> Veuillez selectionner un type d'échafaudage </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary import-ouvrage" onclick="return $(this).hide()">Ajouter</button>

                    <div class="spinner-border text-primary form-submit-loader" role="status" style="display: none;">
                        <span class="sr-only">.</span>
                    </div>
                    <div class="alert alert-success" role="alert" style="display: none;" id="ouvrage-import-success">
                        Les ouvrages sélectionnés ont été importés avec success
                    </div>
                    <div class="alert alert-danger" role="alert" style="display: none;" id="ouvrage-import-danger">
                        Erreur lors de l'importation des ouvrages, veuillez recharger la page
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>
