{% extends 'base.html.twig' %}

{% block title %}Edit Poste{% endblock %}

{% block body %}
    <h1>Edit Poste</h1>

    {{ include('user/poste/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_poste_index') }}">back to list</a>

    {{ include('user/poste/_delete_form.html.twig') }}
{% endblock %}
