{% extends 'base.html.twig' %}

{% block title %}
	Creation un ticket
{% endblock %}


{% block body %}
	<style>
		.back_data_afficher {
			width: 80%;
			margin: 8%;
		}
	</style>

	<div class="back_data_afficher">
		{{ include('ticket/_form.html.twig') }}
	</div>
{% endblock %}
