<div class="container mt-5">
	<div class="col-md-11 m-auto page-block mt-4">
		<div class="societe">
			<div class="row form">
				<div class="col-md-6">
					<div class="form-group">
						<label for="NumAffaire" class="font-weight-bold">Transporteur</label>
						<select id="transporteur" name="transporteur" class="form-control form-control-sm-2 societe-input">
							{% for trs in transporteurs %}
								<option value="{{trs.idtransporteur}}">{{trs.societe}}</option>
							{% endfor %}
						</select>
					
				</div>


				<div class="form-group" style="display:flex;">
					<div class="col-md-3 text-end label">
						Date
					</div>
					<div class="col-md-4">

						<input type="date" id="date" name="date" class="form-control form-control-sm-2 societe-input" value="{{ "now"|date("d/m/Y") }}">
					</div>

					<div class="col-md-4">

						<input type="time" id="heure" class="form-control form-control-sm-2 societe-input" name="heure">
					</div>

				</div>

				<!-- Add similar blocks for other fields in the first column -->
			</div>

			<div class="col-md-6">
				<div class="form-group">
					<label for="codeChantier" class="font-weight-bold">Type Tarification</label>
					<select name="taux" id="tauxSelect" class="form-control form-control-sm-2 societe-input">
						<option value="5" seleted>Taux Tonne</option>
						<option value="1">Taux Horaire</option>
						<option value="2">Taux Tour</option>
						<option value="3">Taux Jour</option>
						<option value="4">Taux Demi Jour</option>
					</select>
				</div>

				<div class="form-group" id="qte">
					<label for="codeChantier" class="font-weight-bold">Tarification</label>
					<input type="number" id="tarification" name="tarification" value="42" class="form-control form-control-sm-2 societe-input ">
				</div>


				<!-- Add similar blocks for other fields in the third column -->
				<div class="btn btn-light" id="save_affectation">Affecter</div>
				<div class="btn btn-light" id="fermer">Fermer</div>

			</div>
		</div>
	</div>
</div></div></div><script>$(document).ready(function () {
$("#fermer").click(function () {
$("#affectation_transport").hide(); // Cache l'élément avec l'ID 'affectation_transport'
});
$("#save_affectation").click(function () {});

$("#affectation_btn").click(function () {
$("#affectation_transport").show(); // afficher l'élément avec l'ID 'affectation_transport'
});
// event listner sur select transporteur

$('#transporteur').change(function() {
	// Récupère l'ID sélectionné
	var selectedId = $(this).val();
	
	// Récupère les données des transporteurs depuis localStorage
	var transporteurs = JSON.parse(localStorage.getItem('transporteurs')) || [];

	// Recherche si l'ID sélectionné est dans les données stockées
	var transporteurTrouve = transporteurs.find(function(trs) {
		return trs.idtransporteur.toString() === selectedId;
	});

	// Comparaison et action en fonction de la correspondance
	if (transporteurTrouve) {
		// Vous pouvez ici accéder à d'autres propriétés comme transporteurTrouve.tauxprefere
		
		// Exemple d'action: mettre à jour un autre champ avec le taux préféré
		$('#tauxPrefere').val(transporteurTrouve.tauxprefere);
		$('#tauxSelect').val(transporteurTrouve.tauxprefere);
		var tauxPrefere = transporteurTrouve.tauxprefere;

		switch(tauxPrefere) {
			case "1":
				// Logique spécifique au cas 1
				$('#tarification').val(transporteurTrouve.tauxhoraire);
				break;
			case "2":
				// Logique spécifique au cas 2
				$('#tarification').val(transporteurTrouve.tauxtour);
				break;
			case "3":
				// Logique spécifique au cas 3
				$('#tarification').val(transporteurTrouve.tauxjour);
				break;
			case "4":
				// Logique spécifique au cas 4
				$('#tarification').val(transporteurTrouve.tauxdemijour);
				break;
			case "5":
				// Logique spécifique au cas 5
				$('#tarification').val(transporteurTrouve.tauxtonne);
				break;
			default:
				console.log('Aucun taux préféré spécifié ou valeur non reconnue.');
			
		}


	} else {
		console.log("Aucun transporteur correspondant trouvé dans localStorage.");
	}
});
// fin evennt select

}); 
  // o, stocker les donnes sur localStorage les donnes des tranporteurs 
	$(document).ready(function() {
		// Vérifie si les données ne sont pas déjà stockées
		if (!localStorage.getItem('transporteurs')) {
			$.getJSON('/commandes/transporteurs', function(data) {
				localStorage.setItem('transporteurs', JSON.stringify(data));
			});
		}
	
		// Exemple de récupération et utilisation des données
		const transporteurs = JSON.parse(localStorage.getItem('transporteurs'));
		console.log(transporteurs); // Utilisez les données comme nécessaire
	});

</script>
