{% extends 'base.html.twig' %}

{% block title %}Commande
{% endblock %}

{% block body %}
	<style>
		.back_data_afficher {
			width: 80%;
			margin-left: 8%;
		}
		.form-flex-container {
			display: flex;
			flex-wrap: nowrap; /* Optional: Prevent wrapping to the next line */
		}

		.form-group {
			margin-right: 10px; /* Optional: Add some spacing between form elements */
		}
		.form {
			background-color: #A3A1A1;
			padding: 2%;
			margin-left: 3%;
			border-radius: 30px;
		}
		.depot-info {
			background-color: #f0f0f0;
			padding: 10px;
			border: 1px solid #ddd;
			margin: 10px;
			border-radius: 5px;
			color: black;
			text-align: center;
		}
		.btn-custom {
			background-color: #BDBBBA; /* Change this color code to your desired color */
			border-color: #BDBBBA;
			color: black; /* Text color */
		}
		.btn-custom:hover {
			background-color: #BDBBBA; /* Change this color code to your desired color */
			border-color: #BDBBBA;
			color: black; /* Text color */
		}
		.inputNumber {
			text-align: center;
		}
		.flex-container {
			display: flex;
			flex-direction: row;
			width: 65%;
			margin-left: 19%;
		}

		.flex-item {
			border: 1px solid #ccc;
			padding: 10px;
			margin: 5px;
			width: 30%;
			text-align: center;
		}
	</style>

	<div class="back_data_afficher">
		{% include "commande/_new.html.twig" with {'button_label' : 'Modifier' }  %}
	</div>
	<script>

		// calculer_poids_article(1,false);

function calculer_poids_article(moinsZeroValue, drap = true) {
let sumqtepre = 0;
let sumqteSortie = 0;
let poidsArticle = document.getElementsByClassName("poids");

calculer_poids_QteCommande(poidsArticle, "qte");
sumqteSortie = calculer_poids_QteCommande(poidsArticle, "qteSortie");
let idDepot = document.getElementById("codedepot").value;
if (idDepot == 2) {
sumqtepre = calculer_poids_QteCommande(poidsArticle, "qtePreparer");
calculer_toutes_qte(moinsZeroValue);

}
if (drap == true) {
$(document).ready(function () {
$("#commande_PoidsTotMat").val(sumqteSortie + sumqtepre);
});
} else {}


}
function calculer_poids_QteCommande(poidsArticle, qte) {
let Qte = document.getElementsByClassName(qte);
let sum = 0;
if (poidsArticle.length === Qte.length) {


for (let i = 0; i < poidsArticle.length; i++) {
let poidsValue = parseFloat(poidsArticle[i].value);
let qteValue = parseFloat(Qte[i].value);

if (!isNaN(poidsValue) && !isNaN(qteValue)) {
sum += poidsValue * qteValue;
} else {
console.error("Invalid value for poids or qte at index " + i);
}
}
document.getElementById("poids" + qte).innerHTML = sum.toFixed(2);
} else {
console.error("Arrays poidsArticle and Qte must have the same length");
}

return sum;

}

function calculer_toutes_qte(moinsZeroValue) {
let qte = document.getElementsByClassName("qte");
let qteSortie = document.getElementsByClassName("qteSortie");
let qtePreparer = document.getElementsByClassName("qtePreparer");
let qtearester = document.getElementsByClassName("qtearester");
if (qte.length === qteSortie.length && qteSortie.length === qtePreparer.length && qtePreparer.length === qtearester.length) {
for (let i = 0; i < qte.length; i++) {
let qteValue = parseFloat(qte[i].value) || 0;
let qteSortieValue = parseFloat(qteSortie[i].value) || 0;
let qtePreparerValue = parseFloat(qtePreparer[i].value) || 0;
let qtearesterValue = qteValue - qteSortieValue - qtePreparerValue;
if ((moinsZeroValue == 0 && qtearesterValue >= 0) || (qtearesterValue < 0 && moinsZeroValue == 1)) {
qtearester[i].value = qtearesterValue;
}
if (qtearesterValue > 0) { // Display an alert
qtearester[i].value = qtearesterValue;

}
}
} else {
console.error("Arrays qte, qteSortie, qtePreparer, and qtearester must have the same length");
}
}
function valider() {
let idDepot = document.getElementById("codedepot").value;

let iddepotElements = document.getElementsByClassName("iddepot");
let qteSortieElements = document.getElementsByClassName("qtePreparer");
let articles = document.getElementsByClassName("article");
let mats = document.getElementsByClassName("mat");
let idCdeEnte = document.getElementById("cmdCodeEntre").value;
let articleQte = [];

for (let i = 0; i < qteSortieElements.length; i++) {
let iddepotValue = iddepotElements[i].value;
let qteSortieValue = parseFloat(qteSortieElements[i].value) || 0;
let articleValue = articles[i].value;
let matValue = mats[i].value;

let depotObject = {
iddepot: iddepotValue,
qteSortie: qteSortieValue,
article: articleValue,
idDepot: idDepot,
mat: matValue,
idCdeEnte: idCdeEnte
};
articleQte.push(depotObject);
}

$.ajax({
url: '/update-qte-article', // Replace with your actual backend endpoint
type: 'POST',
contentType: 'application/json',
data: JSON.stringify(
{articleQte: articleQte}
),
success: function (data) {

if (data.code == 200) {
showFunction(data.message);
location.reload();
} else {
showError(data.message);
}

},
error: function (error) {
console.error('Error sending data:', error);
}
});
}
function verfier_moins_zero() {}

/*$(".inputNumber").on("change", function () {
var moinsZeroValue = $(this).attr("zero");
calculer_poids_article(moinsZeroValue);
var articleId = $(this).attr("article");
let resAsortir = document.getElementById("article" + articleId);
if (resAsortir.value == 0) {
$(this).attr("zero", 1);
var userChoice = confirm("Attention : Vous sortez plus de matériel que prévu ");
if (userChoice) {
$(this).attr("zero", 1);
resAsortir.setAttribute("min", 0);
} else {
$(this).attr("zero", 0);
}
}
});*/
let codedepot = document.getElementById("codedepot").value;
if (codedepot == 2) {
init();
} else {
initLayher();
}
function initLayher() {
let poidsArticle = document.getElementsByClassName("poids");
let qte = document.getElementsByClassName("qte");
let sum = 0;
for (let i = 0; i < qte.length; i++) {
let qteValue = parseFloat(qte[i].innerHTML) || 0;
let poidsArticleValue = parseFloat(poidsArticle[i].innerHTML) || 0;
 sum += qteValue * poidsArticleValue;
}
document.getElementById("poidsqte").innerHTML = sum;
$("#commande_PoidsTotMat").val(sum);

}
function init() {
let poidsArticle = document.getElementsByClassName("poids");
let sumQte = calculer_poids_QteCommande(poidsArticle, "qteSortie");
$("#commande_PoidsTotMat").val(sumQte);

initResterSortir();
let sum = calculer_poids_QteCommande(poidsArticle, "qtearester");

}
function initResterSortir() {
let qtearester = document.getElementsByClassName("qtearester");
let qteSortie = document.getElementsByClassName("qteSortie");
for (let i = 0; i < qtearester.length; i++) {
let qtearesterValue = parseFloat(qteSortie[i].value) || 0;
let result = qtearesterValue * (-1);
qtearester[i].value = result;
}

}

$(".qtePreparer").on("change", function () {
let poidsArticle = document.getElementsByClassName("poids");
calculer_poids_QteCommande(poidsArticle, "qtePreparer");
let sumpoidsqteSortie = parseFloat(document.getElementById("poidsqteSortie").innerHTML) || 0;
let poidsqtePreparer = parseFloat(document.getElementById("poidsqtePreparer").innerHTML) || 0;
$("#commande_PoidsTotMat").val(poidsqtePreparer + sumpoidsqteSortie);
});

	</script>

{% endblock %}
