{% extends 'base.html.twig' %}

{% block title %}Commande
{% endblock %}

{% block body %}
	<style>
		.back_data_afficher {
			width: 80%;
			margin-left: 8%;
		}
		.form-flex-container {
			display: flex;
			flex-wrap: nowrap; /* Optional: Prevent wrapping to the next line */
		}

		.form-group {
			margin-right: 10px; /* Optional: Add some spacing between form elements */
		}
		.form {
			background-color: #A3A1A1;
			padding: 2%;
			margin-left: 3%;
			border-radius: 30px;
		}
		.depot-info {
			background-color: #f0f0f0;
			padding: 10px;
			border: 1px solid #ddd;
			margin: 10px;
			border-radius: 5px;
			color:black;
			text-align:center;
		}
		.btn-custom {
            background-color: #BDBBBA; /* Change this color code to your desired color */
            border-color: #BDBBBA;
            color: black; /* Text color */
        }
		.btn-custom:hover {
            background-color: #BDBBBA; /* Change this color code to your desired color */
            border-color: #BDBBBA;
            color: black; /* Text color */
        }
	</style>

	<div class="back_data_afficher">
		{% include "commande/_new.html.twig" with {'button_label' : 'Modifier' }  %}
	</div>
{% endblock %}
