<style>

	.txtcenter {
		text-align: center;
	}
</style>

<div style="display: flex; flex-direction: column; gap: 20px; margin: 0 auto 0 auto;">
	<div style="overflow: hidden; margin-top: 1rem;">
		<div style="float: left; width: 25%;">
			<img src="{{ asset('uploads/logo/j4r_logo_2.jpg') }}" alt="logo" style="width: 100%;">
		</div>
		<div style="display: table; float: right; width: 50%;">
			<div style="display: table-cell; vertical-align: middle; text-align: center; border: 1px solid black; padding: 5px;">
				<span class="txtcenter">
					<strong>
						<u>DECOMPTE DE MATERIEL</u>
					</strong>
				</span>
				<br>
				<span>
					<strong></strong>
				</span>
				<br>
				<span>Edition du
					{{ "now"|date("d/m/Y H:i:s") }}</span>
				<br>


			</div>
		</div>

	</div>

	<style>
		table {
			width: 100%;
			border-collapse: collapse;
			margin: 20px auto;
		}

		th,
		td {
			border: 1px solid #dddddd;
			text-align: left;
			padding: 8px;
		}

		th {
			background-color: #f2f2f2;
		}
	</style>


	<table>
		<tr>
			<th>Nom client</th>
			<td colspan="4" >John Doe</td>
		</tr>
		<tr>
			<th>Adresse du chantier</th>
			<td colspan="4" >123 Rue de la Construction</td>
		</tr>
		<tr>
			<th>Instructions</th>
			<td  colspan="4" >Veillez à utiliser des matériaux de haute qualité.</td>
		</tr>
		<tr>
			<th>Commentaires</th>
			<td colspan="4" >Très satisfait du travail effectué.</td>
		</tr>
		<!-- Nouvelle ligne avec 5 colonnes -->
		<tr>
			<th>Autre donnée 1</th>
			<td>...</td>
			<th>Autre donnée 2</th>
			<td>...</td>
			<th>Autre donnée 3</th>
			<td>...</td>
		</tr>
	</table>
