<style>

	.txtcenter {
		text-align: center;
	}
</style>

<div style="display: flex; flex-direction: column; gap: 20px; margin: 0 auto 0 auto;">
	<div style="overflow: hidden; margin-top: 1rem;">
		<div style="float: left; width: 25%;">
			<img src="{{ asset('uploads/logo/j4r_logo_2.jpg') }}" alt="logo" style="width: 100%;">
		</div>
		<div style="display: table; float: right; width: 50%;">
			<div style="display: table-cell; vertical-align: middle; text-align: center; border: 1px solid black; padding: 5px;">
				<span class="txtcenter">
					<strong>
						<u>DECOMPTE DE MATERIEL</u>
					</strong>
				</span>
				<br>
				<span>
					<strong></strong>
				</span>
				<br>
				<span>Edition du
					{{ "now"|date("d/m/Y H:i:s") }}</span>
				<br>
				


				</div>
			</div>

		</div>
