{% extends 'base.html.twig' %}

{% block title %}
	Commandes
{% endblock %}

{% block body %}
	<!-- Include Bootstrap JS (and jQuery) -->


	<style>
		.container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%; /* Set your desired width */
			padding: 10px;
		}

		.left {
			flex: 1; /* Takes up available space on the left */

		}

		.right {
			flex: 2; /* Takes up available space on the right */
			margin-left: 20px; /* Add margin for spacing between left and right */
		}

		select {
			width: 20%;
			padding: 5px;
		}
		.title_article {
			font-family: 'Poppins', sans-serif;
			color: black;
			font-size: 30px;
			margin-left: 10%;
		}
		.basic {
			width: 160px;
			height: 35px;
			background: #f5f5f5;
			font-family: 'Poppins', sans-serif;
			margin-left: 2%;

		}
		.custom-dialog {
			max-width: 400px;
			margin: 50px auto;
			background-color: #fff;
			padding: 20px;
			border-radius: 8px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		}

		#overlay {
			display: none;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
			z-index: 999; /* Ensure it's above the dialog */
		}
		.right {
			flex: 2; /* Takes up available space on the right */
			margin-left: 20px; /* Add margin for spacing between left and right */
			display: flex;
			justify-content: flex-end;

		}
		.btnChargerCommande {}
	</style>

	<div class="example-wrapper">
		<div class="container">

			<div class="right">

					<!--<div class="form-group mt-3">
						<input type="date" id="DateDu" name="DateDu" class="form-control form-control-sm-2 societe-input required ml-2" value="{{ 'now'|date('Y-m-d') }}">
					</div>
					<div class="form-group mt-3">
						<input type="date" id="DateAu" name="DateAu" class="form-control form-control-sm-2 societe-input required ml-2" value="{{ 'now'|date('Y-m-d') }}">
					</div>-->
				


				<select class="basic" id="agenceSelect">
					{% for agence in agences %}
						<option value="{{ agence.idagence }}">
							{{ agence.nomagence }}
						</option>
					{% endfor %}
				</select>
				<select class="basic" id="depotSelect"></select>
				 <button onclick="redirect_to_page_affiche_commande_annuler()" class="basic" style="background-color: #ccc; color: #333; border: 1px solid #333; padding: 5px 10px;">
                     <span>
                       Commande Annulées
                    </span>
                </button> 

				<button class="basic" id="creer" style="display:none;">
					<span>
						Créer
					</span>
				</button>

			</div>
		</div>
	</div>
	<div id="overlay"></div>
	<div id="customDialog" title="Custom Dialog" class="custom-dialog" style="display:none;">
		<div class="divCommande" style="display: flex;">
	         <textarea id="motif" class="form-control"></textarea>
            <button class="btn btn-primary btnChargerCommande" onclick="archiveCommande()"style="margin-left:15px">Suppression</button>
		</div>
	</div>

	<div class="page-block col-lg-12">
		<table class="table text-center datatable" id="commandeTable" style="color: #0E4377;">
			<thead>
				<tr class="tr-head">
					<th>Devis</th>
					<th>Client</th>
					<th>Affaire</th>
					<th>Adress Chantier</th>
					<th>Ville</th>
					<th>Date</th>
					<th>Poids Total</th>
					<th>Initiales</th>
					<th>Code Chantier</th>
					<th>Numéro ERP</th>
					<th>Actions</th>
					
				</tr>
			</thead>
			<tbody></tbody>
		</tbody>
	</table>
</div>

<script>
let idCommandeActual = -1;

	var dailog;

	function redirect_to_page_affiche_commande_annuler() {
		window.location.href = '/commande_annuler/' ;
		}	
function redirect_to_page_affiche_commande(idarticle) {
window.location.href = '/edit-commande/' + idarticle;
}
function pdf(idarticle) {
window.location.href = '/pdf-commande/' + idarticle;
}
function showCharacterLimitDialog() {
dialog = $("#customDialog").dialog({
autoOpen: false,
modal: true,
title: "Charger la commande", // Set the custom title here
width: 750, // Set the width to 160px
buttons: {
"Fermer": function () {
$(this).dialog("close");
document.getElementById("motif").value = "";
}
},
close: function () {
$(this).dialog("option", "position", {
my: "center",
at: "center",
of: window
});
$("#overlay").hide();
},
show: {
closeButton: false
}
});

// Show the overlay
$("#overlay").show();
dialog.dialog("open");
}
handleAgenceSelection();
function handleAgenceSelection() {
var selectedAgence = document.getElementById("agenceSelect").value;
$.ajax({
type: 'GET',
url: '/get-depot',
data: {
selectedAgence: selectedAgence
},
success: function (data) {
data = data.depot
var select = $('#depotSelect');
select.empty();


$.each(data, function(index, depot) {
    var option = $('<option>').attr('code', depot.codedepot).attr('value', depot.iddepot).text(depot.nomdepot);
    if (depot.codedepot == 1) {
        option.attr('selected', 'selected');
    }
    select.append(option);
});
handleCommandeSelection();
},
error: function (error) {
console.error('Error:', error);
}
});
}

var commandeTable;

$(document).ready(function () {
    // Vérifiez si DataTable est déjà initialisé sur la table
    if (!$.fn.DataTable.isDataTable('#commandeTable')) {
        // Si DataTable n'est pas déjà initialisé, initialisez-le
        commandeTable = $('#commandeTable').DataTable({
            paging: true,
            order: []
        });
    }

    // Reste de votre code...
});

// Function to handle depot selection
function handleCommandeSelection() {
var selectedDepot = document.getElementById("depotSelect").value;
var selectedOption = document.getElementById("depotSelect").options[document.getElementById("depotSelect").selectedIndex];
var codedepotValue = selectedOption.getAttribute("code");
if (codedepotValue != 1) {
document.getElementById("creer").style.display = "block";

} else {
document.getElementById("creer").style.display = "none";

}
$('#commandeTable').DataTable().destroy();

if ($.fn.DataTable.isDataTable('#commandeTable')) {
$('#commandeTable').DataTable().destroy();
}

commandeTable = $('#commandeTable').DataTable({paging: true, order: []});

$.ajax({
type: 'GET',
url: '/get-commande',
data: {
selectedDepot: selectedDepot
},
success: function (data) {
commandeTable.clear().draw();

var options = {
  year: 'numeric',
  month: 'numeric',
  day: 'numeric',
  hour: 'numeric',
  minute: 'numeric',
  hour12: false // Use 24-hour format
};

var dateTimeString = '2024-02-13T17:00:08+01:00'; // Example datetime string
var dateTime = new Date(dateTimeString);
var formattedDateTime = new Intl.DateTimeFormat('fr-FR', options).format(dateTime);

console.log(formattedDateTime);
for (var i = 0; i < data.length; i++) {
var commande = data[i];

console.log(commande.DateCde);

let action = '';

if (codedepotValue != 1) {
action += '<button class="btn btn-warning" style="font-size: 10px;"><i class="bi bi-file-pdf-fill" onclick="pdf(' + commande.id + ')" margin"></i></button> <button class="btn btn-secondary" style="font-size: 10px;" onclick="archive(' + commande.id + ')"><i class="bi bi-archive"  ></i></button>';
}
action +='<button class="btn btn-warning" style="font-size: 10px;" onclick="redirect_to_page_affiche_commande(' + commande.id + ')"><i class="bi bi-pen"  ></i></button> <button class="btn btn-secondary" style="font-size: 10px;" onclick="archive(' + commande.id + ')"><i class="bi bi-archive" ></i></button>';
var newRow = [
commande.NumDevis,
commande.NomClient,
commande.NumAffaire,
commande.AdresseChantier,
commande.VilleChantier,
new Intl.DateTimeFormat('fr-FR', options).format(new Date(commande.DateCde)),
commande.PoidsTotMat,
commande.Initiales,
commande.CodeChantier,
commande.NumErpLocation,
action
];
commandeTable.row.add(newRow);
}

commandeTable.draw();
}
});

}

$(document).ready(function () {

$('#agenceSelect').on('change', function () {
handleAgenceSelection();
});


$('#depotSelect').on('change', function () {
handleCommandeSelection();
});
});

function archiveCommande() {
 
console.log(idCommandeActual);

let motif = document.getElementById("motif").value;

console.log("motif" + motif);
if (motif != "") {
$.ajax({
type: 'GET',
url: '/annuler-commande',
data: {
motif: motif,
idCommande: idCommandeActual
},
success: function (data) {
console.log(data);
if (data == 200) {
dialog.dialog("close");

document.getElementById("motif").value = "";
window.location.reload();
} else {
dialog.dialog("close");
document.getElementById("motif").value = "";
}

},
error: function (error) {
console.error('Error:', error);
}
});
} else {
showError("Motif est obligatoire");
dialog.dialog("close");

}

}
function showFunction() {
$('.alert').addClass("show");
$('.alert').removeClass("hide");
$('.alert').addClass("showAlert");
setTimeout(function () {
$('.alert').removeClass("show");
$('.alert').addClass("hide");
}, 5000);
}

function showError(message) {
document.getElementById("msgError").innerHTML = message;
$('.alertError').addClass("show");
$('.alertError').removeClass("hide");
$('.alertError').addClass("showAlert");
setTimeout(function () {
$('.alertError').removeClass("show");
$('.alertError').addClass("hide");
}, 5000);
}

$(document).ready(function () { // Attach a click event to your button
$("#creer").on("click", function () {
var depot = document.getElementById("depotSelect").value;

var redirectUrl = "/add-commande?depot=" + depot;


window.location.href = redirectUrl;
});
});
function archive(id){
	idCommandeActual = id;
dialog = $("#customDialog").dialog({
autoOpen: false,
modal: true,
title: "Annuler la commande", // Set the custom title here
width: 750, // Set the width to 160px
buttons: {
"Fermer": function () {
$(this).dialog("close");
document.getElementById("motif").value = 0;
}
},
close: function () {
$(this).dialog("option", "position", {
my: "center",
at: "center",
of: window
});
$("#overlay").hide();
},
show: {
closeButton: false
}
});

// Show the overlay
$("#overlay").show();
dialog.dialog("open");
}
</script>{% endblock %}
