{% extends 'base.html.twig' %}

{% block title %}
	Commandes
{% endblock %}

{% block body %}
	<!-- Include Bootstrap JS (and jQuery) -->


	<style>
		.container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%; /* Set your desired width */
			padding: 10px;
		}

		.left {
			flex: 1; /* Takes up available space on the left */

		}

		.right {
			flex: 2; /* Takes up available space on the right */
			margin-left: 20px; /* Add margin for spacing between left and right */
		}

		select {
			width: 20%;
			padding: 5px;
		}
		.title_article {
			font-family: 'Poppins', sans-serif;
			color: black;
			font-size: 30px;
			margin-left: 10%;
		}
		.basic {
			width: 200px;
			height: 35px;
			background: #f5f5f5;
			font-family: 'Poppins', sans-serif;
			margin-left: 5%;

		}
		.custom-dialog {
			max-width: 400px;
			margin: 50px auto;
			background-color: #fff;
			padding: 20px;
			border-radius: 8px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		}

		#overlay {
			display: none;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
			z-index: 999; /* Ensure it's above the dialog */
		}
		.btnChargerCommande {
			margin-left: 10px;
		}
		@import url('https://fonts.googleapis.com/css?family=Poppins:400, 500, 600, 700 &display=swap');


		.alert {
			background: #28a745;
			padding: 20px 40px;
			min-width: 420px;
			position: absolute;
			right: 0;
			top: 10px;
			border-radius: 4px;
			border-left: 8px solid #3A8731;
			overflow: hidden;
			opacity: 0;
			pointer-events: none;
		}

		.alert.showAlert {
			opacity: 1;
			pointer-events: auto;
		}

		.alert.show {
			animation: show_slide 1s ease forwards;
		}

		@keyframes show_slide {
			0% {
				transform: translateX(100%);
			}

			40% {
				transform: translateX(-10%);
			}

			80% {
				transform: translateX(0%);
			}

			100% {
				transform: translateX(-10px);
			}
		}

		.alert.hide {
			animation: hide_slide 1s ease forwards;
		}

		@keyframes hide_slide {
			0% {
				transform: translateX(-10px);
			}

			40% {
				transform: translateX(0%);
			}

			80% {
				transform: translateX(-10%);
			}

			100% {
				transform: translateX(100%);
			}
		}

		.alert.fa-check-circle {
			position: absolute;
			left: 20px;
			top: 50%;
			transform: translateY(-50%);
			color: #28a745;
			font-size: 60px;
		}

		.alert .msg {
			padding: 0 20px;
			font-size: 18px;
			color: white;
		}
	</style>

	<div class="example-wrapper">
		<div class="container">
			<div class="left">
				<h2 class="title_article">Commandes</h2>
			</div>
			<div class="right">
				<select class="basic" id="agenceSelect">ù
					<option>Agence</option>
					{% for agence in agences %}
						<option value="{{ agence.idagence }}">
							{{ agence.nomagence }}
						</option>
					{% endfor %}
				</select>
				<select class="basic" id="depotSelect">
					<option>Depot</option>

				</select>
				<button class="basic" onclick="showCharacterLimitDialog()">
					<span>
						Charger
					</span>
				</button>

			</div>
		</div>
	</div>
	<div id="overlay"></div>
	<div class="alert hide">
		<span class="fas fa-check-circle"></span>
		<span class="msg">La commande a bien été chargée</span>
	</div>
	<div id="customDialog" title="Custom Dialog" class="custom-dialog" style="display:none;">
		<div class="divCommande" style="display: flex;">
			<input type="number" id="idCommande" class="form-control" max="2">
			<button class="btn btn-primary btnChargerCommande" onclick="chargerCommande()">Importation</button>
		</div>
	</div>

	<div class="page-block col-lg-12">
		<table class="table text-center datatable" id="commandeTable" style="color: #0E4377;">
			<thead>
				<tr class="tr-head">
					<th>Devis</th>
					<th>Client</th>
					<th>Chantier</th>
					<th>Affaire</th>
					<th>Adress Chantier</th>
					<th>Ville</th>
					<th>Date</th>
					<th>Poids Total</th>
					<th>Initailes</th>
					<th>Code Chantier</th>
					<th>Numéro Cloud</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody></tbody>
		</tbody>
	</table>
</div>

<script>
	var dailog;
function showCharacterLimitDialog() {
dialog = $("#customDialog").dialog({
autoOpen: false,
modal: true,
title: "Charger Les commandes", // Set the custom title here
width: 750, // Set the width to 160px
buttons: {
"Fermer": function () {
$(this).dialog("close");
document.getElementById("idCommande").value = 0;
}
},
close: function () {
$(this).dialog("option", "position", {
my: "center",
at: "center",
of: window
});
$("#overlay").hide();
},
show: {
closeButton: false
}
});

// Show the overlay
$("#overlay").show();
dialog.dialog("open");
}

function handleAgenceSelection() {
var selectedAgence = document.getElementById("agenceSelect").value;
$.ajax({
type: 'GET',
url: '/get-depot',
data: {
selectedAgence: selectedAgence
},
success: function (data) {
var select = $('#depotSelect');
select.empty();

select.append('<option>Depot</option>');

$.each(data, function (index, depot) {
select.append('<option value="' + depot.iddepot + '">' + depot.nomdepot + '</option>');
});
},
error: function (error) {
console.error('Error:', error);
}
});
}

var commandeTable;

// Function to handle depot selection
function handleCommandeSelection() {
var selectedDepot = document.getElementById("depotSelect").value;

if ($.fn.DataTable.isDataTable('#commandeTable')) {
$('#commandeTable').DataTable().destroy();
}

commandeTable = $('#commandeTable').DataTable({paging: true});

$.ajax({
type: 'GET',
url: '/get-commande',
data: {
selectedDepot: selectedDepot
},
success: function (data) {

commandeTable.clear().draw();
console.log(data);
// Populate the table with the new data
for (var i = 0; i < data.length; i++) {
var commande = data[i];
var newRow = [
commande.NumDevis,
commande.NomClient,
commande.CodeChantier,
commande.NumAffaire,
commande.AdresseChantier,
commande.VilleChantier,
commande.DateCde,
commande.PoidsTotMat,
commande.Initiales,
commande.CodeChantier,
commande.numCloud,
'<button class="btn btn-warning" onclick="redirect_to_page_edit_article(' + commande.id + ')"><i class="bi bi-pencil-fill"></i>Edit</button>'
];
commandeTable.row.add(newRow);
}

commandeTable.draw();
},
error: function (error) {
console.error('Error:', error);
}
});
}


$(document).ready(function () {

$('#agenceSelect').on('change', function () { // Call the function to handle depot selection
handleAgenceSelection();
});


$('#depotSelect').on('change', function () { // Call the function to handle depot selection
handleCommandeSelection();
});
});

function chargerCommande() {


let numCloud = document.getElementById("idCommande").value;
$.ajax({
type: 'GET',
url: '/search-commande',
data: {
numCloud: numCloud
},
success: function (data) {
console.log(data);
if (data.code == 200) {
dialog.dialog("close");
showFunction();
document.getElementById("idCommande").value = 0;
}

},
error: function (error) {
console.error('Error:', error);
}
});
}
function showFunction() {
$('.alert').addClass("show");
$('.alert').removeClass("hide");
$('.alert').addClass("showAlert");
setTimeout(function () {
$('.alert').removeClass("show");
$('.alert').addClass("hide");
}, 5000);
}
</script>{% endblock %}
