
{% extends 'base.html.twig' %}

{% block title %}Ajouter Agence{% endblock %}

{% block body %}
<style>
		.back_data_afficher {
			width: 80%;
			margin-left: 8%;
		}
			.flex-container {
			display: flex;
			flex-direction: row;
			width: 65%;
			margin-left: 19%;
		}

		.flex-item {
			border: 1px solid #ccc;
			padding: 10px;
			margin: 5px;
			width: 30%;
			text-align: center;
			color:black;
		}
	</style>

	<div class="back_data_afficher">
		{{ include('commande/_add.html.twig') }}
	</div>
{% endblock %}
