{% extends 'base.html.twig' %}

{% block title %}Edit CategorieOuvrage{% endblock %}

{% block body %}
    <h1>Edit CategorieOuvrage</h1>

    {{ include('affaire/categorie_ouvrage/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
