<form method="post" action="{{ path('app_affaire_attribut_ouvrage_delete', {'id': attribut_ouvrage.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ attribut_ouvrage.id) }}">
    <button class="btn">Delete</button>
</form>
