{% extends 'base.html.twig' %}

{% block title %}New AttributOuvrage{% endblock %}

{% block body %}
    <h1>Create new AttributOuvrage</h1>

    {{ include('affaire/attribut_ouvrage/_form.html.twig') }}

    <a href="{{ path('app_affaire_attribut_ouvrage_index') }}">back to list</a>
{% endblock %}
