{% extends 'base.html.twig' %}

{% block title %}Edit Entite{% endblock %}

{% block body %}
    <h1>Edit Entite</h1>

    {{ include('entite/entite/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_entite_entite_index') }}">back to list</a>

    {{ include('entite/entite/_delete_form.html.twig') }}
{% endblock %}
