<html style="margin: 0; padding: 0;background: grey; font-family: 'DejaVu Sans'">
<style>
    footer {
        position: absolute;
        bottom: 50px;
        left: 30px;
        right: 30px;
    }

    body {
        position: relative;
    }

    ul {
        margin: 0;
        list-style: circle;
    }

    li {
        line-height: 1.2;
    }


</style>
<body style="margin: 30px auto;width: 210mm;min-height: 297mm;background: white;padding: 0 30px;box-sizing: border-box;font-size: 10px; line-height: 15px">
<header>
    {% include 'pdf/devis_header.html.twig' %}
</header>
<main>
    <div style="height: 450px; border: 1px solid black; margin: 10px 0 30px 0">
        <div style="text-align: center; border-bottom: 1px solid black; background-color: #C5C5C5">
            <strong>Conditions d'utilisation de l'échafaudage</strong>
        </div>
        <div style="margin: 1rem; font-size: 0.7rem; text-align: justify;">
            <u>Procès verbale de réception d’échafaudages et bulletins d’adéquation :</u>
            <ul>
                <li>
                    Ces documents doivent être signés et renvoyés par les différents corps d’états intervenant suite à
                    l’envoie par mail ou courr ier de notre part. Sans retour dans un délai de 24 heures, les
                    échafaudages seront considérés comme réceptionnés
                    par l’entreprise intervenante.
                </li>
                <li>
                    Ces documents transmettent automatiquement la responsabilité et l’entretien des échafaudages à
                    l’entreprise signataire, ainsi que le client de l’opération pendant toute la durée de leurs travaux.
                </li>
                <li>
                    Dans le cas où les différents utilisateurs refusent de signer les bulletins d’adéquation, J4R est en
                    droit de refuser l’accès aux échafaudages. Ce refus sera annoter sur le bulletin d’adéquation et
                    transmis à la maîtrise d’ouvrage, la maîtrise
                    d’oeuvre et les différents organismes de prévention sécurité.
                </li>
                <li>
                    La remise en conformité suite à des dégradations ou des démontages entre deux entreprises
                    intervenantes fera l’objet d’un devis à valider et signer avant quelconque remontage. A noter que
                    pendant cette période, l’accès à l’échafaudage
                    est interdit.
                </li>
            </ul>
            <u>Les sur locations d’échafaudages :</u>
            <ul>
                <li>
                    Les durées de locations sont calendaires ;
                </li>
                <li>
                    Les locations démarrent dès la mise en sécurité du premier niveau d’échafaudage et pour une durée
                    inscrite
                    dans notre offre de prix définitive ;
                </li>
                <li>
                    Un planning d’intervention lot par lot et tâche par tâche au démarrage du chantier devra être signé
                    par
                    les différents corps d’états afin d’éviter des problèmes d’imputation de sur locations ;
                </li>
                <li>
                    Les périodes d’intempéries, arrêts de chantiers, périodes de congés et autres interruptions de
                    travaux des différents corps d’états pour cause de retard de commande, de planification, etc…
                    n’interrompent pas la durée de location initialement prévue dans notre offre de prix définitive. Ces
                    éléments sont à prévoir par les entreprises et le maître d'oeuvre lors de la réalisation des
                    plannings
                    d’intervention ;
                </li>
                <li>
                    Les sur locations éventuelles sont à régler sur la situation du mois en cours. Aucun motif d’attente
                    de
                    règlement ne pourra être valable. (fin du chantier, imputations, réunions CIE, etc…) ;
                    o Sans avis contraire et engagement écrit à régler les sur locations mensuellement, J4R se réserve
                    le droit
                    de démonter les échafaudages à la date prévue initialement (délai de location inscrit dans l’offre
                    de prix
                    et date de démarrage de
                    location inscrite sur le PV de réception).
                </li>
            </ul>
            <u>Conditions et entretien des plateformes au pourtour des lots à échafauder (conformément aux
                recommandations de la CRAMIF et de l’inspection du travail) :</u>
            <ul>
                <li>
                    Les terres au pourtour des ouvrages à échafauder doivent être remblayées, compactées et aplanies sur
                    une
                    largeur de 1,50 m ;
                </li>
                <li>
                    Les travaux de VRD et ouverture de tranchés à proximité des échafaudages montés sont formellement
                    interdits ;
                </li>
                <li>
                    Une voie d’accès devant chaque pavillon ou collectif doit être réalisée avant intervention afin de
                    permettre l’approvisionnement et la manutention de nos échafaudages
                </li>
                <li>
                    Les démontages et modifications d’échafaudages par d’autres corps d’état sont formellement interdits
                    ;
                </li>
                <li>
                    Les démontages pour approvisionnement de quelconque matériel sont interdits. La CRAMIF et de
                    l’inspection
                    du travail recommandent l’utilisation de grue dite PPM pour approvisionner le matériel.
                    L’utilisation
                    d’autres moyens de levage de
                    type « manitou » pour approvisionner le matériel sur les planchers R+1 et suivants sont interdits.
                </li>
                <li>
                    Un nettoyage des échafaudages est à prévoir par les différents corps d’état intervenant sur
                    l’échafaudage
                    (brique, ciment, ravalement,…) avant transfert de propriété de l’échafaudage au corps d’état
                    suivant.
                </li>
            </ul>
            <u>Travaux de maçonneries (Conformément aux recommandations de la CRAMIF et de l’inspection du travail)
                :</u>
            <ul>
                <li>
                    Les travaux de maçonnerie (montage des briques, parpaings, …) doivent être réalisés depuis des
                    plateformes
                    de travail situées à l’intérieur des ouvrages à construire (plateformes hors lot échafaudages).
                </li>
                <li>
                    Aucun stockage n’est permis sur les échafaudages.
                </li>
                <li>
                    Aucun démontage n’est autorisé.
                </li>
            </ul>
            <u>Nettoyage des échafaudages</u>
            <ul>
                <li>
                    Après utilisation par chaque corps d’état, les échafaudages devront être nettoyés afin de les
                    restituer
                    dans le même état que lors de la prise de possession. Dans le cas contraire, une facture de 600,00
                    €HT par
                    tonne d’échafaudage sera
                    adressée à l’entreprise défaillante.
                </li>
            </ul>
            <u>Adéquation des échafaudages</u>
            <ul>
                <li>
                    La responsabilité de l'utilisateur est engagée dés le début de l'utilisation de l'échafaudage par le
                    corps
                    d'état concerné et en cas de dépose d'éléments composant la structure de l'échafaudage.
                </li>
                <li>
                    Pour toute demande de modifications/adaptations de l'échafaudage qui n'aura pas été faite 72 heures
                    après
                    diffusion des plans , le corps d'état concerné prendra à sa charge tout ou partie du coût des
                    modifications/adaptations de
                    l'échafaudage.
                </li>
            </ul>
            <u>Amiante</u>
            <ul>
                <li>
                    En tant que donneur d’ordre, maître de l’ouvrage ou propriétaire, vous avez l’obligation de
                    transmettre
                    aux entreprises avant la réalisation des travaux le rapport de repérage amiante avant certaines
                    opérations
                    et/ou le dossier de traçabilité
                    amiante (DTA– DA–PP) permettant d’identifier et de localiser précisément tous matériaux et produits
                    contenant de l’amiante.
                </li>
                <li>
                    Les informations relatives au repérage amiante permettent à notre entreprise de procéder, en amont
                    de
                    notre intervention, à l’analyse des risques, adapter la méthodologie et prendre toutes les
                    précautions
                    nécessaires pour l’exécution des
                    travaux en sécurité.
                </li>
                <li>
                    En cas de non respect de ses obligations, vous risquez une amende maximal de 9000 €.
                </li>
                <li>
                    En conséquence sans ces informations, ou si malgré la communication de ces documents, il y avait en
                    cours
                    d’exécution, découverte de matériaux et produits susceptibles de contenir de l’amiante, non
                    identifié,
                    nous
                    serions dans l’obligation
                    de suspendre ou d’arrêter nos travaux. Cependant les frais de location de échafaudages déjà
                    installés
                    sur
                    site continueront d’être facturé suivant les prix journalier indiqué sur notre devis et/ou marché
                    initiale.
                </li>
                <li>
                    A noter : les travaux ne pourrait reprendre qu’après communication, par vos soins, des informations
                    nécessaires à la levée de doute sur la présence ou non d’amiante dans les matériaux et produits
                    directement
                    ou indirectement concerné par
                    les travaux, sachant qu’en cas de refus de votre part de transmettre ces informations
                    complémentaires,
                    nous
                    serions dans l’obligation d’arrêter définitivement les travaux, d’évaluer le préjudice subi. Dans le
                    cas
                    où
                    nous serions dans
                    l’incapacité de récupérer notre matériel pour cause de pollution de ce dernier ou d’inaccessibilité
                    au
                    site,
                    nous sommes en droit de vous facturer les frais de location jusqu’à sa dépollution, les frais de
                    dépollution
                    et de démontage par du
                    personnel formé pour intervenir sur des chantiers amiante sous-section 3 et 4 ou de facturer la
                    valeur
                    de
                    vente du matériel au tarif catalogue de notre fournisseur de matériel d’échafaudage si nous sommes
                    dans
                    l’incapacité de récupérer le
                    matériel dans un délai de 72 heures après notre demande formulé par mail ou par courrier.
                </li>
                <li>
                    Notre entreprise ne pourrait être tenue pour responsable des surcoût et des retards engendrés par la
                    découverte de matériaux et produits contenant de l’amiante qui n’aurait pas été préalablement
                    identifiées,
                    localiser est suffisamment
                    signalé, ni pour leur traitement. »
                </li>
            </ul>
        </div>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: space-between; margin: auto">
        <div style="border: 1px solid black; padding: 3px; text-align: center; width: 48%; height: 100px">
            <strong><u>Bon pour accord client</u></strong> (Date, cachet, signature):
        </div>
    </div>
</main>
<footer>
    {% include 'pdf/devis_footer.html.twig' %}
</footer>
</body>
</html>

