<html style="margin: 0; padding: 0">
    <body style="margin: 0; padding: 0">
        <header>
            <div style="display: flex; flex-direction: column; gap: 20px; width: 90%; margin: 30px auto 0px auto">
                <div style="text-align: right">
                    <strong>Devis</strong>
                </div>
                <div style="display: flex; flex-direction: row; justify-content: space-between">
                    <div style="height: 50px; width: 100px; background: black">
                    </div>
                    <div style="height: 100px; width: 400px; background: black">
                    </div>
                </div>
                <div style="display: flex;flex-direction: row;">
                    <div style="width: 70%">
                        <span>
                            <strong><u>Contact:</u> Julien Rodrigues</strong>
                        </span>
                        <br>
                        <span>
                            Tel: 06.76.36.49.08 - Email: j.rodrigues@j4r.fr
                        </span>
                    </div>
                    <div style="width: 14%;text-align: right;">
                        22/03/2022
                    </div>
                    <div style="width: 8%;text-align: right;">
                        Devis n°:
                    </div>
                    <div style="width: 8%;text-align: right;">
                        2203/208
                    </div>
                </div>
                <div>
                    <span>
                        <strong><u>Designation des travaux:</u></strong>
                    </span>
                    <br>
                    <span>
                        Mise en place d'une plateforme autostable pour les dépose du faux-plafonds
                    </span>
                </div>
                <div>
                    <span>
                        <strong><u>Chantier:</u></strong>
                    </span>
                    <br>
                    <span>
                        BRIAND - Mairie - Joinville Le Pont
                    </span>
                    <br>
                    <span>
                        23 Rue de Paris
                    </span>
                    <br>
                    <span>
                        94340 JOINVILLE LE PONT
                    </span>
                </div>
            </div>
        </header>
        <footer>

        </footer>
    </body>
</html>

