
{% extends 'base.html.twig' %}

{% block title %}Ajouter Agence{% endblock %}

{% block body %}
<style>
		.back_data_afficher {
			width: 80%;
			margin-left: 8%;
		}
	</style>

	<div class="back_data_afficher">
		{% include "agence/_new.html.twig" with {'button_label' : 'Modifier' }  %}
	</div>
{% endblock %}
