{% extends 'base.html.twig' %}

{% block title %}Ajouter Agence
{% endblock %}

{% block body %}
	<style>
		.back_data_afficher {
			width: 80%;
			margin-left: 8%;
		}
		.form-flex-container {
			display: flex;
			flex-wrap: nowrap; /* Optional: Prevent wrapping to the next line */
		}

		.form-group {
			margin-right: 10px; /* Optional: Add some spacing between form elements */
		}
	</style>

	<div class="back_data_afficher">
		{% include "article/_new.html.twig" with {'button_label' : 'Modifier' }  %}
	</div>

	<script>
		// check type Regul pour afficher
$(document).ready(function () {
$("#typeRegul").change(function () {
var selectedValue = $(this).val();
if (selectedValue == 3 || selectedValue == 5 || selectedValue == 7 || selectedValue == 9) {
$("#codeChantier").show();
} else {
$("#codeChantier").hide();
}
});
});

// valider la formulaire du regul et stocker l'evenement

// calculer la quantité


//
	</script>
{% endblock %}
