{% extends 'base.html.twig' %}

{% block title %}Modification Article
{% endblock %}

{% block body %}
	<style>
		.back_data_afficher {
			width: 80%;
			margin-left: 8%;
		}
		.form-flex-container {
			display: flex;
			flex-wrap: nowrap; /* Optional: Prevent wrapping to the next line */
		}

		.form-group {
			margin-right: 10px; /* Optional: Add some spacing between form elements */
		}
		.bold-text {
			font-weight: bold;
		}
	</style>
<div class="back_data_afficher">
{% if show == false %}
<input type="number" value="1" id="iddepots" style="display:none;" />
{% endif %}
{% if show == true %}

<input type="number" value="2" id="iddepots" style="display:none;" />
{% endif %}
<input style="display:none;" type="number" id="idArticle" value="{{article}}" />
	{% include "article/_new.html.twig" with {'button_label' : 'Modifier' }  %}
</div>

<script>
	//depot == 2 lagny and depot == 1 layyher
	// check type Regul pour afficher
let drapoCodeChantier = 0;
$(document).ready(function () {
$("#typeRegul").change(function () {
var selectedValue = $(this).val();
if (selectedValue == 3 || selectedValue == 5 || selectedValue == 7 || selectedValue == 9) {
$("#codeChantier").show();
drapoCodeChantier = 1;
} else {
$("#codeChantier").hide();
drapoCodeChantier = 0;
}
var depot = $("#iddepots").val();
if(depot  == 1){
	value = $("#article_qtetotale").val();
	if(value <= 0){
		if (selectedValue == 1 || selectedValue == 9 || selectedValue == 10) {
			$("#addMouvement").show();

		}else{
			$("#addMouvement").hide();

		}

    }

}else if(depot == 2){
	value = $("#article_qtedispo").val();
	if(value <= 0){
		if (selectedValue == 1 || selectedValue == 9 || selectedValue == 10) {
			$("#addMouvement").show();

		}else{
			$("#addMouvement").hide();

		}

    }
}
});
});




// valider la formulaire du regul et stocker l'evenement
$(document).ready(function () {
$("#addMouvement").click(function () { // Get the values of the input fields
var numAffaire = $("#NumAffaire").val();
var date = $("#date").val();
var typeRegul = $("#typeRegul").val();
var motif = $("#motif").val();
var quantite = $("#quantité").val();
var idArticle = $("#idArticle").val();
var depot = $("#iddepots").val();
var codeChantierInput = 0;
if(drapoCodeChantier == 1){
var codeChantierInput = $("#codeChantierInput").val();
console.log("Code Chantier: " + codeChantierInput);

}

// Do something with the values (for example, display them in the console)
console.log("Num Affaire: " + numAffaire);
console.log("Date: " + date);
console.log("Type Regul: " + typeRegul);
console.log("Code Chantier: " + codeChantierInput);
console.log("Motif: " + motif);
console.log("Quantité: " + quantite);
console.log("idArticle: " + idArticle);


   // Perform validation
   if (numAffaire === "" || date === "" || typeRegul === "" || quantite === "" || idArticle === "" || motif === "") {
	alert("Entrez toutes les champs");
	return; // Exit the function if validation fails
}

// Validation for specific fields if needed
if (isNaN(quantite) || quantite == 0) {
	alert("Quantite ne doit pas egale a 0 ");
	return;
}
if ( codeChantierInput == -1) {
	alert("il faut entrez code chantier ");
	return;
}



// Create JSON object with the data

var jsonData = {
numAffaire: numAffaire,
date: date,
typeRegul: typeRegul,
codeChantierInput: codeChantierInput,
motif: motif,
quantite: quantite,
idArticle: idArticle,
depot:depot

};
ajouterMouvement(jsonData);
// You can then proceed to send these values to the server using AJAX or perform any other action as needed.
});
});
// add Mouvement requete jquery
function ajouterMouvement(jsonData) {

$.ajax({
type: "POST",
url: "/mouvements",
contentType: "application/json",
data: JSON.stringify(jsonData),
success: function (response) { // Handle success response
if(response == 200){
console.log("Success:", response);
location.reload();
}

},
error: function (xhr, status, error) { // Handle error response
console.error("Error:", error);
}
});
}


// calculer la quantité


//
</script>
{% endblock %}
