
<div class="elements" id="element-{{ lot.id }}" type="lot">
    <div class="css-ccobzb lot" >
        <div class="css-1r30cbj">
            <div class="tab-el-left"></div>
            <div class="tab-el-left"><input class="chakra-input" type="text" id="devis_lots__code" name="devis[lots][][code]"/></div>
            <div class="tab-el-left"><input class="chakra-input" type="text" id="devis_lots__titre" name="devis[lots][][titre]"/></div>
            <div class="tab-el-right"></div>
            <div class="tab-el-right"></div>
            <div class="tab-el-right"></div>
            <div class="tab-el-right"></div>
            <div class="tab-el-right row justify-content-center">
                <div class="col-md-auto">
                    <a href="#"><i class="bi bi-plus-circle"></i></a>
                </div>
                <div class="col-md-auto">
                    <a href="#"><i class="bi bi-three-dots"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>