{% extends 'base.html.twig' %}

{% block title %}New Devis{% endblock %}

{% block body %}


    {{ include('affaire/devis/_form.html.twig') }}

    <a href="{{ path('app_affaire_devis_index') }}">back to list</a>
{% endblock %}
