
    <div class="elements" id="element-{{ ouvrage.id }}">

        <div class="css-1ip68u7 ">
            <div class="css-1r30cbj">
                <div class="tab-el-left"></div>
                <div class="tab-el-left">
                    <input type="text" id="devis_ouvrages_{{ key }}_denomination"
                           name="devis[ouvrages][{{key}}][denomination]" required="required" maxlength="255"
                           class="chakra-input" value="{{ ouvrage.denomination }}">
                </div>
                <div class="tab-el-left">

                </div>
                <div class="tab-el-right"></div>
                <div class="tab-el-right"></div>
                <div class="tab-el-right"></div>
                <div class="tab-el-right"></div>
                <div class="tab-el-right row justify-content-center">
                    <div class="col-md-auto">
                        <a href="#"><i class="bi bi-plus-circle"></i></a>
                    </div>
                    <div class="col-md-auto">
                        <a href="#"><i class="bi bi-three-dots"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
